<!-- Footer -->
<div id="footer">
  <div class="container">
    <div class="row">
      <div class="4u 12u(mobile)">
        <div class="container">
          <div class="row">
            <div class="container">
              <section class="contact">
                <header>
                  <h3>
                      <%= t('footer_text') %>
                  </h3>
                </header>

                <ul class="icons">
                  <li>
                    <a href="https://www.facebook.com/zaslavlrowingcanal/" class="icon fa-facebook"><span class="label">Facebook</span></a>
                  </li>
                  <li><a href="#" class="icon fa-instagram"><span class="label">Instagram</span></a></li>
                  <li><a href="#" class="icon fa-pinterest"><span class="label">Pinterest</span></a></li>
                  <li><a href="#" class="icon fa-dribbble"><span class="label">Dribbble</span></a></li>
                  <li><a href="#" class="icon fa-linkedin"><span class="label">Linkedin</span></a></li>
                </ul>
              </section>
            </div>
          </div>
          <!-- Copyright -->
          <div class="copyright">
            <ul class="menu">
              <li>&copy;By Shaporov Vitaly</li>
              <li>Design: <a href="http://html5up.net">HTML5 UP</a></li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
