<!-- Footer -->
<div class="backgroundfon footer">
  <div><h3 class="text-center"> <%= t('our_partner') %></h3></div>
  <div class="container1">
    <ul class="carousel1">
      <li>
        <a href="http://www.mst.by/ru/" ><img src="/images/Our partners/MinSport1.png" margin="10%"width="150" height="150"/></a>
      </li>
      <li><a href="http://www.noc.by/" ><img src="/images/Our partners/Беларусь1.png" width="150" height="150" /></a>
      </li>
      <li ><a href="http://belarusrowing.by/" ><img src="/images/Our partners/БелФед1.png" width="150" height="150"/></a>
      </li>
      <li><a href=" http://canoeing.by/"><img src="/images/Our partners/БАК1.png" width="150" height="150"/></a>
      </li>
      <li style="margin-top: 25px;"><a href="http://www.santa-bremor.com/"><img src="/images/Our partners/Санта.png" width="250" height="100"/></a>
      </li>
      <li style="margin-top: 25px;"><a href="http://www.savushkin.by/" ><img src="/images/Our partners/Савушкин.png" width="250" height="100"/></a>
      </li>
      <li style="margin-top: 25px;"><a href="http://conte.by/"><img src="/images/Our partners/Conte.png" width="250" height="100"/></a>
      </li>
      <li style="margin-top: 25px;"><a href="http://zubrcapital.by/"><img src="/images/Our partners/Зубр.jpg" width="250" height="100"/></a>
      </li>
      <li style="margin-top: 25px;"><a href="http://plastex-composite.com/"><img src="/images/Our partners/Plastex.jpg" width="200" height="100"/></a>
      </li>
      <li style="margin-top: 25px;"><a href="http://servolux.by/"><img src="/images/Our partners/Серволюкс.png" width="200" height="100"/></a>
      </li>
      <li style="margin-top: 25px;"><a href="http://sportpanorama.by/"><img src="/images/Our partners/Спонлайн.png" width="200" height="100"/></a>
      </li>
      <li style="margin-top: 25px;"><a href="http://www.imas-sport.com/index.php/en/"><img src="/images/Our partners/IMAS.jpg" width="200" height="100"/></a>
      </li>
      <li style="margin-top: 25px;"><a href="http://motosila.by/"><img src="/images/Our partners/Сканлинк.jpg" width="200" height="100"/></a>
      </li>
      <li style="margin-top: 25px;"><a href="http://tanis.by/"><img src="/images/Our partners/Танис.png" width="200" height="100"/></a>
      </li>
    </ul>
  </div>
  <section class="contact">
    <header style="margin: 1% 0 0 0;">
      <h3>
        <%= t('footer_text') %>
      </h3>
    </header>
    <ul style="margin: 1% 0 0 0; background: #a9cbf1" class="icons" >
      <li>
        <a href="https://www.facebook.com/zaslavlrowingcanal/" class="icon fa-facebook"><span class="label">Facebook</span></a>
      </li>
      <li><a href="#" class="icon fa-instagram"><span class="label">Instagram</span></a></li>
      <li><a href="#" class="icon fa-vk"><span class="label">Vkontakte</span></a></li>
    </ul>




    <!--<section style="background-color: white; interval: 1000;" class="carousel">-->
      <!--<div style="margin-top: 2%" class="reel">-->
        <!--<article><a href="http://www.mst.by/ru/" ><img src="/images/Our partners/MinSport.jpg" width="150" height="150"/></a>-->
          <!--<br />-->
        <!--</article>-->
        <!--<article><a href="http://www.noc.by/" ><img src="/images/Our partners/Беларусь.png" width="150" height="150" /></a>-->
          <!--<br />-->
        <!--</article>-->
        <!--<article>-->
          <!--<a href="http://conte.by/" ><img src="/images/Our partners/БАК.jpg" width="150" height="150"/></a>-->
          <!--<br />-->
        <!--</article>-->
        <!--<article>-->
          <!--<a href="http://belarusrowing.by/"><img src="/images/Our partners/БелФед.jpg" width="150" height="150"/></a>-->
          <!--<br />-->
        <!--</article>-->
        <!--<article>-->
          <!--<a href="http://www.santa-bremor.com/"><img src="/images/Our partners/Санта.png" width="150" height="100"/></a>-->
          <!--<br />-->
        <!--</article>-->
        <!--<article>-->
          <!--<a href="http://www.savushkin.by/" ><img src="/images/Our partners/Савушкин.png" width="150" height="100"/></a>-->
          <!--<br />-->
        <!--</article>-->
        <!--<article>-->
          <!--<a href="http://conte.by/"><img src="/images/Our partners/Conte.png" width="250" height="100"/></a>-->
          <!--<br />-->
        <!--</article>-->
        <!--<article>-->
          <!--<a href="http://zubrcapital.by/"><img src="/images/Our partners/Зубр.jpg" width="250" height="100"/></a>-->
          <!--<br />-->
        <!--</article>-->
        <!--<article>-->
          <!--<a href="http://servolux.by/"><img src="/images/Our partners/Серволюкс.png" width="250" height="100"/></a>-->
          <!--<br/>-->
        <!--</article>-->
        <!--<article>-->
          <!--<a href="http://sportpanorama.by/"><img src="/images/Our partners/Спонлайн.png" width="250" height="100"/></a>-->
          <!--<br/>-->
        <!--</article>-->
        <!--<article>-->
          <!--<a href="http://plastex-composite.com/"><img src="/images/Our partners/Plastex.jpg" width="250" height="100"/></a>-->
          <!--<br/>-->
        <!--</article>-->
        <!--<article>-->
          <!--<a href="http://www.imas-sport.com/index.php/en/"><img src="/images/Our partners/IMAS.jpg" width="250" height="100"/></a>-->
          <!--<br/>-->
        <!--</article>-->
        <!--<article>-->
          <!--<a href="http://motosila.by/"><img src="/images/Our partners/Сканлинк.jpg" width="250" height="100"/></a>-->
          <!--<br/>-->
        <!--</article>-->
        <!--<article>-->
          <!--<a href="http://tanis.by/"><img src="/images/Our partners/Танис.png" width="250" height="100"/></a>-->
          <!--<br/>-->
        <!--</article>-->
      <!--</div>-->
    <!--</section>-->
<!-- Copyright -->
    <div style="margin: 3% 0 0 3%" class="copyright">
      <ul class="menu">
        <li>&copy;By ShVV</li>
        <li>Design: <a href="http://html5up.net">HTML5 UP</a></li>
      </ul>
    </div>
</div>


