<!-- Footer -->
<div class="backgroundfon footer">
  <div><h3 class="text-center"> <%= t('our_partner') %></h3></div>
  <div class="container1">
    <ul class="carousel1">
      <li><a href="http://www.santa-bremor.com/"><img src="/images/Our partners/Санта.png" /></a>
      </li>
      <li><a href="http://www.savushkin.by/" ><img src="/images/Our partners/Савушкин.png" /></a>
      </li>
      <li><a href="http://conte.by/"><img src="/images/Our partners/Conte.png" /></a>
      </li>
      <li><a href="http://zubrcapital.by/"><img src="/images/Our partners/Зубр.jpg" /></a>
      </li>
      <li><a href="http://plastex-composite.com/"><img src="/images/Our partners/Plastex.jpg" /></a>
      </li>
      <li><a href="http://servolux.by/"><img src="/images/Our partners/Серволюкс.png" /></a>
      </li>
      <li><a href="http://sportpanorama.by/"><img src="/images/Our partners/Спонлайн.png" /></a>
      </li>
      <li><a href="http://www.imas-sport.com/index.php/en/"><img src="/images/Our partners/IMAS.jpg" /></a>
      </li>
      <li><a href="http://motosila.by/"><img src="/images/Our partners/Сканлинк.jpg" /></a>
      </li>
      <li><a href="http://tanis.by/"><img src="/images/Our partners/Танис.png" /></a>
      </li>
    </ul>
  </div>
  <section class="contact">
    <header class="otside">
      <h3>
        <%= t('footer_text') %>
      </h3>
    </header>
    <ul class="icons otside"" >
      <li><a href="https://www.facebook.com/zaslavlrowingcanal/" class="icon fa-facebook"><span class="label">Facebook</span></a>
      </li>
      <li><a href="#" class="icon fa-instagram"><span class="label">Instagram</span></a></li>
      <li><a href="#" class="icon fa-vk"><span class="label">Vkontakte</span></a></li>
    </ul>

<!-- Copyright -->
    <div class="copyright">
      <ul class="menu">
        <li>&copy;By ShVV</li>
        <li>Design: <a href="http://html5up.net">HTML5 UP</a></li>
      </ul>
    </div>
</div>


