<!-- Footer -->
<div class="backgroundfonfooter footer">
  <div><h3 class="partner"> <%= t('our_partner') %></h3></div>
  <div class="container1">
    <ul class="carousel1">
      <li><a href="http://www.santa-bremor.com/"><img src="/images/Our partners/Санта1.png" /></a>
      </li>
      <li><a href="http://www.savushkin.by/" ><img src="/images/Our partners/Савушкин1.png" /></a>
      </li>
      <li><a href="http://conte.by/"><img src="/images/Our partners/Conte1.png"  style="padding-top: 10%"/></a>
      </li>
<!--      <li><a href="http://zubrcapital.by/"><img src="/images/Our partners/Зубр_пр.png" /></a>-->
<!--      </li>-->
      <li><a href="http://plastex-composite.com/" ><img src="/images/Our partners/Plastex.jpg"  style="padding-top: 20%" /></a>
      </li>
      <li><a href="http://servolux.by/"><img src="/images/Our partners/Серволюкс1.png"  style="padding-top: 22%" /></a>
      </li>
      <li><a href="http://sportpanorama.by/"><img src="/images/Our partners/Спонлайн1.png"  style="padding-top: 21%"/></a>
      </li>
      <li><a href="http://www.imas-sport.com/index.php/en/"><img src="/images/Our partners/IMAS.jpg"  style="padding-top: 15%"/></a>
      </li>
      <li><a href="http://motosila.by/"><img src="/images/Our partners/Сканлинк.png"  style="padding-top: 23%"/></a>
      </li>
<!--      <li><a href="http://tanis.by/"><img src="/images/Our partners/Танис.png"  style="padding-top: 15%" /></a>-->
<!--      </li>-->
    </ul>
  </div>
  <div>
    <ul class="icons">
      <li>
        <a href="https://www.facebook.com/zaslavlrowingcanal/" class="icon fa-facebook"><span class="label">Facebook</span></a>
      </li>
      <li><a href="#" class="icon fa-instagram"><span class="label">Instagram</span></a></li>
      <li><a href="#" class="icon fa-vk"><span class="label">Vkontakte</span></a></li>
    </ul>
  </div>
  <section class="contact">
    <header class="otside">
      <h3>
        <%= t('footer_text') %>
      </h3>
    </header>
<!-- Copyright -->
    <div class="copyright">
      <ul class="menu">
        <li>&copy;By ShVV</li>
        <li>Design: <a href="http://html5up.net">HTML5 UP</a></li>
      </ul>
    </div>
    <div class="footeradres">223036, Минский район, Заславль, ул. Гонолес, д. 1</div>
</div>


