<!-- Header -->
<div id="header">
  <!-- Inner -->
  <div class="inner">
    <header>
      <h1><a href="/" id="logo">Establishment of "National Center of Olympic training for rowing"</a></h1>
    </header>
  </div>
  <!-- Nav -->
  <%= Refinery::Pages::MenuPresenter.new(refinery_menu_pages, self).tap{|p| p.dom_id = 'nav'}.to_html %>
</div>
