<!-- Header -->

<div class="demo-2">
  <div class="headerlocale">
    <!--<div class="localeposition">-->
    <div class="localeposition">
      <nav>
        <% ::Refinery::I18n.frontend_locales.each do |locale| %>
            <%= link_to locale, refinery.url_for({locale: locale}), class: locale %>
        <% end %>
      </nav>
    </div>
  </div>
  <div class="header-id">
    <a class="headerEmblema" href="<%= t('home') %>">
      <body onload="init();" style="margin:0px;">
      <div id="animation_container" class="embl">
        <canvas id="canvas" class="embl" width="200" height="200" style="position: absolute; display: block; "></canvas>
        <div id="dom_overlay_container" style="pointer-events:none; overflow:hidden; width:200px; height:200px; position: absolute; left: 0px; top: 0px; display: block;">
        </div>
      </div>
      </body>
    </a>
    <h1 class="bordernone"><a href="/" id="logo1">
      <%= t('header_text') %></a></h1>

    <div class="textBold">
      <%= Refinery::Pages::MenuPresenter.new(refinery_menu_pages, self).tap {|p| p.dom_id = 'nav'}.to_html %>
    </div>
  </div>

</div>


