<% @items = Refinery::News::Item.latest %>
<header>
  <h2 class="Honhomege">
    <%= t('news') %>
  </h2>
</header>
<div id="ca-container" class="ca-container">
  <div class="ca-wrapper">
    <% @items.each do |item| %>
        <%= render('refinery/news_item',item: item) %>
    <% end %>
  </div>
</div>




