.cards{
    width: 100%;
    height: 100%;
    overflow: hidden;
    padding: 10px;
    background: #c2e4e7;
    /*border: 3px dashed #645a4e;*/

}

.card_nat_sp{
    margin: 1%;
    overflow: auto;
    width: 48%;
    height: 400px;
    float: left;
    top: 10px;
    background: #ffffff;
    /*border: 3px dashed #312a22;*/
}

.card_image{
    top: 1%;
    margin: 0;
    width: 30%;
    float: left;
}
.card_image img{
    width: auto;
    height: auto;
    max-width: 100%;
    max-height: 100%;
    display: block;
    margin: 0 auto;
}

.card_info{
    top: 1%;
    margin: 0;
    width: 30%;
    float: left;
    font-size: 20px;

}

.card_results{
    top: 1%;
    padding-left: 2%;
    margin: 0;
    width: 35%;
    float: left;
    font-size: 20px;
}

.name{
    text-align: center;
    margin: 2%;
}

.all_card{
    margin-top: 3%;
}