<h1 style="padding-top: 1%; text-align:center" class="leadership">Национальная команда (основной состав) - по гребле академической (женщины)</h1>

<div class="popup-wrapper">
  <input type="checkbox" class="popup-checkbox" id="popupCheckboxOne" />
  <div class="popup">
    <div class="popup-content">
      <label for="popupCheckboxOne" class="popup-closer">×</label>
      <div class="modalwindowinside">
        <img class="modalwindowinsideimg" <img src="/images/академ/Бичик Ю.В..jpg" />
      </div>
      <div class="modalwindowinsidetext3"><p>БИЧИК
        ЮЛИЯ
        ВАЛЕНТИНОВНА

      </p>
      </div>
      <div class="modalwindowinsidetext"><p>День рождения</p>
      </div>
      <div class="modalwindowinsidetext1"><p>6.18.1990      </p>
      </div>
      <div class="modalwindowinsidetext"><p>Спортивное звание</p>
      </div>
      <div class="modalwindowinsidetext1"><p>Мастер спорта международного класса</p>
      </div>
      <div class="modalwindowinsidetext"><p>Личный тренер</p>
      </div>
      <div class="modalwindowinsidetext1"><p>Кошкалда А.П.</p>
      </div>
      <div class="modalwindowinsidetext3"><p>Лучший результат за прошедший год</p>
      </div>
      <div class="modalwindowinsidetext"><p>Спортивные соревнования </p>
      </div>
      <div class="modalwindowinsidetext1"><p>Чемпионат европы</p>
      </div>
      <div class="modalwindowinsidetext"><p>Спортивная дисциплина</p>
      </div>
      <div class="modalwindowinsidetext1"><p>К-2 500</p>
      </div>
      <div class="modalwindowinsidetext"><p>Занятое место</p>
      </div>
      <div class="modalwindowinsidetext1"><p>3</p>
      </div>
    </div>
  </div>
</div>
<div class="popup-wrapper">
  <input type="checkbox" class="popup-checkbox" id="popupCheckbox2" />
  <div class="popup">
    <div class="popup-content">
      <label for="popupCheckbox2" class="popup-closer">×</label>
      <div class="modalwindowinsideall">
        <div class="modalwindowinside">
          <img class="modalwindowinsideimg" src="/images/академ/Журавская.jpg" />
        </div>
        <div class="modalwindowinsidetext3"><p>ЖУРАВСКАЯ
          ТАТЬЯНА
          ВЛАДИМИРОВНА

        </p>
        </div>
        <div class="modalwindowinsidetext"><p>День рождения</p>
        </div>
        <div class="modalwindowinsidetext1"><p>17.04.1989</p>
        </div>
        <div class="modalwindowinsidetext"><p>Спортивное звание</p>
        </div>
        <div class="modalwindowinsidetext1"><p>Мастер спорта международного класса</p>
        </div>
        <div class="modalwindowinsidetext"><p>Личный тренер</p>
        </div>
        <div class="modalwindowinsidetext1"><p>Голубев В.С.</p>
        </div>
        <div class="modalwindowinsidetext3"><p>Лучший результат за прошедший год</p>
        </div>
        <div class="modalwindowinsidetext"><p>Спортивные соревнования </p>
        </div>
        <div class="modalwindowinsidetext1"><p>Чемпионат европы</p>
        </div>
        <div class="modalwindowinsidetext"><p>Спортивная дисциплина</p>
        </div>
        <div class="modalwindowinsidetext1"><p>К-2 500</p>
        </div>
        <div class="modalwindowinsidetext"><p>Занятое место</p>
        </div>
        <div class="modalwindowinsidetext1"><p>3</p>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="popup-wrapper">
  <input type="checkbox" class="popup-checkbox" id="popupCheckbox3" />
  <div class="popup">
    <div class="popup-content">
      <label for="popupCheckbox3" class="popup-closer">×</label>
      <div class="modalwindowinside">
        <img class="modalwindowinsideimg" src="/images/академ/Kaminskaya.jpg" />
      </div>
      <div class="modalwindowinsidetext3"><p>КАМИНСКАЯ
        ВЕРОНИКА
        МИХАЙЛОВНА

      </p>
      </div>
      <div class="modalwindowinsidetext"><p>День рождения</p>
      </div>
      <div class="modalwindowinsidetext1"><p>21.05.1990</p>
      </div>
      <div class="modalwindowinsidetext"><p>Спортивное звание</p>
      </div>
      <div class="modalwindowinsidetext1"><p>Мастер спорта международного класса</p>
      </div>
      <div class="modalwindowinsidetext"><p>Личный тренер</p>
      </div>
      <div class="modalwindowinsidetext1"><p>Попенко А.Н.</p>
      </div>
      <div class="modalwindowinsidetext3"><p>Лучший результат за прошедший год</p>
      </div>
      <div class="modalwindowinsidetext"><p>Спортивные соревнования </p>
      </div>
      <div class="modalwindowinsidetext1"><p>Чемпионат европы</p>
      </div>
      <div class="modalwindowinsidetext"><p>Спортивная дисциплина</p>
      </div>
      <div class="modalwindowinsidetext1"><p>К-1 5000</p>
      </div>
      <div class="modalwindowinsidetext"><p>Занятое место</p>
      </div>
      <div class="modalwindowinsidetext1"><p>3</p>
      </div>
    </div>
  </div>
</div>
<div class="popup-wrapper">
  <input type="checkbox" class="popup-checkbox" id="popupCheckbox4" />
  <div class="popup">
    <div class="popup-content">
      <label for="popupCheckbox4" class="popup-closer">×</label>
      <div class="modalwindowinside">
        <img class="modalwindowinsideimg" src="/images/академ/Карстен Е.А..jpg" />
      </div>
      <div class="modalwindowinsidetext3"><p>КАРСТЕН
        ЕКАТЕРИНА
        АНАТОЛЬЕВНА

      </p>
      </div>
      <div class="modalwindowinsidetext"><p>День рождения</p>
      </div>
      <div class="modalwindowinsidetext1"><p>23.09.1991</p>
      </div>
      <div class="modalwindowinsidetext"><p>Спортивное звание</p>
      </div>
      <div class="modalwindowinsidetext1"><p>Заслуженный мастер спорта</p>
      </div>
      <div class="modalwindowinsidetext"><p>Личный тренер</p>
      </div>
      <div class="modalwindowinsidetext1"><p>Кошкалда А.П.</p>
      </div>
      <div class="modalwindowinsidetext3"><p>Лучший результат за прошедший год</p>
      </div>
      <div class="modalwindowinsidetext"><p>Спортивные соревнования </p>
      </div>
      <div class="modalwindowinsidetext1"><p>Чемпионат европы</p>
      </div>
      <div class="modalwindowinsidetext"><p>Спортивная дисциплина</p>
      </div>
      <div class="modalwindowinsidetext1"><p>К-1 5000</p>
      </div>
      <div class="modalwindowinsidetext"><p>Занятое место</p>
      </div>
      <div class="modalwindowinsidetext1"><p>4</p>
      </div>
    </div>
  </div>
</div>
<div class="popup-wrapper">
  <input type="checkbox" class="popup-checkbox" id="popupCheckbox5" />
  <div class="popup">
    <div class="popup-content">
      <label for="popupCheckbox5" class="popup-closer">×</label>
      <div class="modalwindowinside">
        <img class="modalwindowinsideimg" src="/images/академ/Климович Т.М..JPG" />
      </div>
      <div class="modalwindowinsidetext3"><p>КЛИМОВИЧ
        ТАТЬЯНА
        МИХАЙЛОВНА

      </p>
      </div>
      <div class="modalwindowinsidetext"><p>День рождения</p>
      </div>
      <div class="modalwindowinsidetext1"><p>02.02.1985</p>
      </div>
      <div class="modalwindowinsidetext"><p>Спортивное звание</p>
      </div>
      <div class="modalwindowinsidetext1"><p>Мастер спорта международного класса</p>
      </div>
      <div class="modalwindowinsidetext"><p>Личный тренер</p>
      </div>
      <div class="modalwindowinsidetext1"><p>Кошкалда А.П.</p>
      </div>
      <div class="modalwindowinsidetext3"><p>Лучший результат за прошедший год</p>
      </div>
      <div class="modalwindowinsidetext"><p>Спортивные соревнования </p>
      </div>
      <div class="modalwindowinsidetext1"><p>Чемпионат европы</p>
      </div>
      <div class="modalwindowinsidetext"><p>Спортивная дисциплина</p>
      </div>
      <div class="modalwindowinsidetext1"><p>К-4 200</p>
      </div>
      <div class="modalwindowinsidetext"><p>Занятое место</p>
      </div>
      <div class="modalwindowinsidetext1"><p>6</p>
      </div>
    </div>
  </div>
</div>
<div class="popup-wrapper">
  <input type="checkbox" class="popup-checkbox" id="popupCheckbox6" />
  <div class="popup">
    <div class="popup-content">
      <label for="popupCheckbox6" class="popup-closer">×</label>
      <div class="modalwindowinside">
        <img class="modalwindowinsideimg" <img src="/images/академ/Кречко М.Н..JPG" />
      </div>
      <div class="modalwindowinsidetext3"><p>КРЕЧКО
        МАРГАРИТА
        НИКОЛАЕВНА

      </p>
      </div>
      <div class="modalwindowinsidetext"><p>День рождения</p>
      </div>
      <div class="modalwindowinsidetext1"><p>22.06.1993</p>
      </div>
      <div class="modalwindowinsidetext"><p>Спортивное звание</p>
      </div>
      <div class="modalwindowinsidetext1"><p>Мастер спорта международного класса</p>
      </div>
      <div class="modalwindowinsidetext"><p>Личный тренер</p>
      </div>
      <div class="modalwindowinsidetext1"><p>Голубев В.С.</p>
      </div>
      <div class="modalwindowinsidetext3"><p>Лучший результат за прошедший год</p>
      </div>
      <div class="modalwindowinsidetext"><p>Спортивные соревнования </p>
      </div>
      <div class="modalwindowinsidetext1"><p>Чемпионат мира (мол)</p>
      </div>
      <div class="modalwindowinsidetext"><p>Спортивная дисциплина</p>
      </div>
      <div class="modalwindowinsidetext1"><p>К-1 1000</p>
      </div>
      <div class="modalwindowinsidetext"><p>Занятое место</p>
      </div>
      <div class="modalwindowinsidetext1"><p>2</p>
      </div>
    </div>
  </div>
</div>
<div class="popup-wrapper">
  <input type="checkbox" class="popup-checkbox" id="popupCheckbox7" />
  <div class="popup">
    <div class="popup-content">
      <label for="popupCheckbox7" class="popup-closer">×</label>
      <div class="modalwindowinside">
        <img class="modalwindowinsideimg" src="/images/академ/Кухта Т.А..jpg" />
      </div>
      <div class="modalwindowinsidetext3"><p>КУХТА
        ТАТЬЯНА
        АЛЕКСАНДРОВНА

      </p>
      </div>
      <div class="modalwindowinsidetext"><p>День рождения</p>
      </div>
      <div class="modalwindowinsidetext1"><p>07.07.1992</p>
      </div>
      <div class="modalwindowinsidetext"><p>Спортивное звание</p>
      </div>
      <div class="modalwindowinsidetext1"><p>Мастер спорта международного класса</p>
      </div>
      <div class="modalwindowinsidetext"><p>Личный тренер</p>
      </div>
      <div class="modalwindowinsidetext1"><p>Масейков А.А.</p>
      </div>
      <div class="modalwindowinsidetext3"><p>Лучший результат за прошедший год</p>
      </div>
      <div class="modalwindowinsidetext"><p>Спортивные соревнования </p>
      </div>
      <div class="modalwindowinsidetext1"><p>Чемпионат европы</p>
      </div>
      <div class="modalwindowinsidetext"><p>Спортивная дисциплина</p>
      </div>
      <div class="modalwindowinsidetext1"><p>К-4 500</p>
      </div>
      <div class="modalwindowinsidetext"><p>Занятое место</p>
      </div>
      <div class="modalwindowinsidetext1"><p>5</p>
      </div>
    </div>
  </div>
</div>
<div class="popup-wrapper">
  <input type="checkbox" class="popup-checkbox" id="popupCheckbox8" />
  <div class="popup">
    <div class="popup-content">
      <label for="popupCheckbox8" class="popup-closer">×</label>
      <div class="modalwindowinside">
        <img class="modalwindowinsideimg" src="/images/академ/Leshkevich.jpg"/>
      </div>
      <div class="modalwindowinsidetext3"><p>ЛЕШКЕВИЧ
        АЛЕСЯ
        ВЛАДИМИРОВНА

      </p>
      </div>
      <div class="modalwindowinsidetext"><p>День рождения</p>
      </div>
      <div class="modalwindowinsidetext1"><p>25.09.1993</p>
      </div>
      <div class="modalwindowinsidetext"><p>Спортивное звание</p>
      </div>
      <div class="modalwindowinsidetext1"><p>Мастер спорта</p>
      </div>
      <div class="modalwindowinsidetext"><p>Личный тренер</p>
      </div>
      <div class="modalwindowinsidetext1"><p>Резенков А.Ю.</p>
      </div>
      <div class="modalwindowinsidetext3"><p>Лучший результат за прошедший год</p>
      </div>
      <div class="modalwindowinsidetext"><p>Спортивные соревнования </p>
      </div>
      <div class="modalwindowinsidetext1"><p>Чемпионат европы</p>
      </div>
      <div class="modalwindowinsidetext"><p>Спортивная дисциплина</p>
      </div>
      <div class="modalwindowinsidetext1"><p>К-4 500</p>
      </div>
      <div class="modalwindowinsidetext"><p>Занятое место</p>
      </div>
      <div class="modalwindowinsidetext1"><p>5</p>
      </div>
    </div>
  </div>
</div>
<div class="popup-wrapper">
  <input type="checkbox" class="popup-checkbox" id="popupCheckbox9" />
  <div class="popup">
    <div class="popup-content">
      <label for="popupCheckbox9" class="popup-closer">×</label>
      <div class="modalwindowinside">
        <img class="modalwindowinsideimg" src="/images/академ/Марченко Д.С..JPG"  />
      </div>
      <div class="modalwindowinsidetext3"><p>МАРЧЕНКО
        ДАРЬЯ
        СЕРГЕЕВНА

      </p>
      </div>
      <div class="modalwindowinsidetext"><p>День рождения</p>
      </div>
      <div class="modalwindowinsidetext1"><p>08.07.1998</p>
      </div>
      <div class="modalwindowinsidetext"><p>Спортивное звание</p>
      </div>
      <div class="modalwindowinsidetext1"><p>Мастер спорта международного класса</p>
      </div>
      <div class="modalwindowinsidetext"><p>Личный тренер</p>
      </div>
      <div class="modalwindowinsidetext1"><p>Гайдук В.П.</p>
      </div>
      <div class="modalwindowinsidetext3"><p>Лучший результат за прошедший год</p>
      </div>
      <div class="modalwindowinsidetext"><p>Спортивные соревнования </p>
      </div>
      <div class="modalwindowinsidetext1"><p>Чемпионат мира (юн.)</p>
      </div>
      <div class="modalwindowinsidetext"><p>Спортивная дисциплина</p>
      </div>
      <div class="modalwindowinsidetext1"><p>К-4 1000</p>
      </div>
      <div class="modalwindowinsidetext"><p>Занятое место</p>
      </div>
      <div class="modalwindowinsidetext1"><p>1</p>
      </div>
    </div>
  </div>
</div>
<div class="popup-wrapper">
  <input type="checkbox" class="popup-checkbox" id="popupCheckbox10" />
  <div class="popup">
    <div class="popup-content">
      <label for="popupCheckbox10" class="popup-closer">×</label>
      <div class="modalwindowinside">
        <img class="modalwindowinsideimg" src="/images/академ/Никулина И.Ю..jpg"/>
      </div>
      <div class="modalwindowinsidetext3"><p>НИКУЛИНА
        ИННА
        ЮРЬЕВНА

      </p>
      </div>
      <div class="modalwindowinsidetext"><p>День рождения</p>
      </div>
      <div class="modalwindowinsidetext1"><p>12.03.1994</p>
      </div>
      <div class="modalwindowinsidetext"><p>Спортивное звание</p>
      </div>
      <div class="modalwindowinsidetext1"><p>Мастер спорта</p>
      </div>
      <div class="modalwindowinsidetext"><p>Личный тренер</p>
      </div>
      <div class="modalwindowinsidetext1"><p>Резенков А.Ю.</p>
      </div>
      <div class="modalwindowinsidetext3"><p>Лучший результат за прошедший год</p>
      </div>
      <div class="modalwindowinsidetext"><p>Спортивные соревнования </p>
      </div>
      <div class="modalwindowinsidetext1"><p>Чемпионат Республики Беларусь</p>
      </div>
      <div class="modalwindowinsidetext"><p>Спортивная дисциплина</p>
      </div>
      <div class="modalwindowinsidetext1"><p>К-2 1000</p>
      </div>
      <div class="modalwindowinsidetext"><p>Занятое место</p>
      </div>
      <div class="modalwindowinsidetext1"><p>3</p>
      </div>
    </div>
  </div>
</div>
<div class="popup-wrapper">
  <input type="checkbox" class="popup-checkbox" id="popupCheckbox11" />
  <div class="popup">
    <div class="popup-content">
      <label for="popupCheckbox11" class="popup-closer">×</label>
      <div class="modalwindowinside">
        <img class="modalwindowinsideimg" src="/images/академ/Pavlovich.jpg" />
      </div>
      <div class="modalwindowinsidetext3"><p>ПАВЛОВИЧ
        ЯРОСЛАВА
        АНАТОЛЬЕВНА

      </p>
      </div>
      <div class="modalwindowinsidetext"><p>День рождения</p>
      </div>
      <div class="modalwindowinsidetext1"><p>04.09.1996</p>
      </div>
      <div class="modalwindowinsidetext"><p>Спортивное звание</p>
      </div>
      <div class="modalwindowinsidetext1"><p>Мастер спорта международного класса</p>
      </div>
      <div class="modalwindowinsidetext"><p>Личный тренер</p>
      </div>
      <div class="modalwindowinsidetext1"><p>Лакизо В.П.</p>
      </div>
      <div class="modalwindowinsidetext3"><p>Лучший результат за прошедший год</p>
      </div>
      <div class="modalwindowinsidetext"><p>Спортивные соревнования </p>
      </div>
      <div class="modalwindowinsidetext1"><p>Чемпионат мира (мол)</p>
      </div>
      <div class="modalwindowinsidetext"><p>Спортивная дисциплина</p>
      </div>
      <div class="modalwindowinsidetext1"><p>К-4 1000</p>
      </div>
      <div class="modalwindowinsidetext"><p>Занятое место</p>
      </div>
      <div class="modalwindowinsidetext1"><p>1</p>
      </div>
    </div>
  </div>
</div>
<div class="popup-wrapper">
  <input type="checkbox" class="popup-checkbox" id="popupCheckbox12" />
  <div class="popup">
    <div class="popup-content">
      <label for="popupCheckbox12" class="popup-closer">×</label>
      <div class="modalwindowinside">
        <img class="modalwindowinsideimg" src="/images/академ/Пигарева Т.А.1.JPG"/>
      </div>
      <div class="modalwindowinsidetext3"><p>ПИГАРЕВА
        ТАТЬЯНА
        АЛЕКСАНДРОВНА

      </p>
      </div>
      <div class="modalwindowinsidetext"><p>День рождения</p>
      </div>
      <div class="modalwindowinsidetext1"><p>30.01.1997</p>
      </div>
      <div class="modalwindowinsidetext"><p>Спортивное звание</p>
      </div>
      <div class="modalwindowinsidetext1"><p>Мастер спорта международного класса</p>
      </div>
      <div class="modalwindowinsidetext"><p>Личный тренер</p>
      </div>
      <div class="modalwindowinsidetext1"><p>Кошкалда А.П.</p>
      </div>
      <div class="modalwindowinsidetext3"><p>Лучший результат за прошедший год</p>
      </div>
      <div class="modalwindowinsidetext"><p>Спортивные соревнования </p>
      </div>
      <div class="modalwindowinsidetext1"><p>Чемпионат мира (мол)</p>
      </div>
      <div class="modalwindowinsidetext"><p>Спортивная дисциплина</p>
      </div>
      <div class="modalwindowinsidetext1"><p>К-4 1000</p>
      </div>
      <div class="modalwindowinsidetext"><p>Занятое место</p>
      </div>
      <div class="modalwindowinsidetext1"><p>1</p>
      </div>
    </div>
  </div>
</div>
<div class="popup-wrapper">
  <input type="checkbox" class="popup-checkbox" id="popupCheckbox13" />
  <div class="popup">
    <div class="popup-content">
      <label for="popupCheckbox13" class="popup-closer">×</label>
      <div class="modalwindowinside">
        <img class="modalwindowinsideimg" src="/images/академ/Романовская.jpg" />
      </div>
      <div class="modalwindowinsidetext3"><p>РОМАНОВСКАЯ
        КСЕНИЯ
        АЛЕКСАНДРОВНА

      </p>
      </div>
      <div class="modalwindowinsidetext"><p>День рождения</p>
      </div>
      <div class="modalwindowinsidetext1"><p>03.04.1997</p>
      </div>
      <div class="modalwindowinsidetext"><p>Спортивное звание</p>
      </div>
      <div class="modalwindowinsidetext1"><p>Мастер спорта международного класса</p>
      </div>
      <div class="modalwindowinsidetext"><p>Личный тренер</p>
      </div>
      <div class="modalwindowinsidetext1"><p>Байков В.А.</p>
      </div>
      <div class="modalwindowinsidetext3"><p>Лучший результат за прошедший год</p>
      </div>
      <div class="modalwindowinsidetext"><p>Спортивные соревнования </p>
      </div>
      <div class="modalwindowinsidetext1"><p>Чемпионат мира (мол)</p>
      </div>
      <div class="modalwindowinsidetext"><p>Спортивная дисциплина</p>
      </div>
      <div class="modalwindowinsidetext1"><p>К-4 1000</p>
      </div>
      <div class="modalwindowinsidetext"><p>Занятое место</p>
      </div>
      <div class="modalwindowinsidetext1"><p>1</p>
      </div>
    </div>
  </div>
</div>
<div class="popup-wrapper">
  <input type="checkbox" class="popup-checkbox" id="popupCheckbox14" />
  <div class="popup">
    <div class="popup-content">
      <label for="popupCheckbox14" class="popup-closer">×</label>
      <div class="modalwindowinside">
        <img class="modalwindowinsideimg" src="/images/академ/Семенова А.А..jpg" />
      </div>
      <div class="modalwindowinsidetext3"><p>СЕМЁНОВА
        АНАСТАСИЯ
        АЛЕКСЕЕВНА

      </p>
      </div>
      <div class="modalwindowinsidetext"><p>День рождения</p>
      </div>
      <div class="modalwindowinsidetext1"><p>03.04.1997</p>
      </div>
      <div class="modalwindowinsidetext"><p>Спортивное звание</p>
      </div>
      <div class="modalwindowinsidetext1"><p>Мастер спорта международного класса</p>
      </div>
      <div class="modalwindowinsidetext"><p>Личный тренер</p>
      </div>
      <div class="modalwindowinsidetext1"><p>Вырвич В.А.</p>
      </div>
      <div class="modalwindowinsidetext3"><p>Лучший результат за прошедший год</p>
      </div>
      <div class="modalwindowinsidetext"><p>Спортивные соревнования </p>
      </div>
      <div class="modalwindowinsidetext1"><p>Чемпионат мира (мол)</p>
      </div>
      <div class="modalwindowinsidetext"><p>Спортивная дисциплина</p>
      </div>
      <div class="modalwindowinsidetext1"><p>К-4 1000</p>
      </div>
      <div class="modalwindowinsidetext"><p>Занятое место</p>
      </div>
      <div class="modalwindowinsidetext1"><p>1</p>
      </div>
    </div>
  </div>
</div>
<div class="popup-wrapper">
  <input type="checkbox" class="popup-checkbox" id="popupCheckbox15" />
  <div class="popup">
    <div class="popup-content">
      <label for="popupCheckbox15" class="popup-closer">×</label>
      <div class="modalwindowinside">
        <img class="modalwindowinsideimg" src="/images/академ/photo_Sidoruk.jpg" />
      </div>
      <div class="modalwindowinsidetext3"><p>СИДОРУК
        ЮЛИЯ
        СЕРГЕЕВНА

      </p>
      </div>
      <div class="modalwindowinsidetext"><p>День рождения</p>
      </div>
      <div class="modalwindowinsidetext1"><p>03.04.1997</p>
      </div>
      <div class="modalwindowinsidetext"><p>Спортивное звание</p>
      </div>
      <div class="modalwindowinsidetext1"><p>Мастер спорта международного класса</p>
      </div>
      <div class="modalwindowinsidetext"><p>Личный тренер</p>
      </div>
      <div class="modalwindowinsidetext1"><p>Лакизо В.П.</p>
      </div>
      <div class="modalwindowinsidetext3"><p>Лучший результат за прошедший год</p>
      </div>
      <div class="modalwindowinsidetext"><p>Спортивные соревнования </p>
      </div>
      <div class="modalwindowinsidetext1"><p>Чемпионат мира (мол)</p>
      </div>
      <div class="modalwindowinsidetext"><p>Спортивная дисциплина</p>
      </div>
      <div class="modalwindowinsidetext1"><p>К-4 1000</p>
      </div>
      <div class="modalwindowinsidetext"><p>Занятое место</p>
      </div>
      <div class="modalwindowinsidetext1"><p>1</p>
      </div>
    </div>
  </div>
</div>
<div class="popup-wrapper">
  <input type="checkbox" class="popup-checkbox" id="popupCheckbox16" />
  <div class="popup">
    <div class="popup-content">
      <label for="popupCheckbox16" class="popup-closer">×</label>
      <div class="modalwindowinside">
        <img class="modalwindowinsideimg" src="/images/академ/Староселец К.С..jpg" />
      </div>
      <div class="modalwindowinsidetext3"><p>СТАРОСЕЛЕЦ
        КРИСТИНА
        СЕРГЕЕВНА

      </p>
      </div>
      <div class="modalwindowinsidetext"><p>День рождения</p>
      </div>
      <div class="modalwindowinsidetext1"><p>03.04.1997</p>
      </div>
      <div class="modalwindowinsidetext"><p>Спортивное звание</p>
      </div>
      <div class="modalwindowinsidetext1"><p>Мастер спорта</p>
      </div>
      <div class="modalwindowinsidetext"><p>Личный тренер</p>
      </div>
      <div class="modalwindowinsidetext1"><p>Ромыш В.А.</p>
      </div>
      <div class="modalwindowinsidetext3"><p>Лучший результат за прошедший год</p>
      </div>
      <div class="modalwindowinsidetext"><p>Спортивные соревнования </p>
      </div>
      <div class="modalwindowinsidetext1"><p>Чемпионат мира (мол)</p>
      </div>
      <div class="modalwindowinsidetext"><p>Спортивная дисциплина</p>
      </div>
      <div class="modalwindowinsidetext1"><p>К-4 1000</p>
      </div>
      <div class="modalwindowinsidetext"><p>Занятое место</p>
      </div>
      <div class="modalwindowinsidetext1"><p>1</p>
      </div>
    </div>
  </div>
</div>
<div class="popup-wrapper">
  <input type="checkbox" class="popup-checkbox" id="popupCheckbox17" />
  <div class="popup">
    <div class="popup-content">
      <label for="popupCheckbox17" class="popup-closer">×</label>
      <div class="modalwindowinside">
        <img class="modalwindowinsideimg" src="/images/академ/УгольникIMG_0516.jpg" />
      </div>
      <div class="modalwindowinsidetext3"><p>УГОЛЬНИК
        АЛЕКСАНДРА
        НИКОЛАЕВНА

      </p>
      </div>
      <div class="modalwindowinsidetext"><p>День рождения</p>
      </div>
      <div class="modalwindowinsidetext1"><p>03.04.1997</p>
      </div>
      <div class="modalwindowinsidetext"><p>Спортивное звание</p>
      </div>
      <div class="modalwindowinsidetext1"><p>Мастер спорта международного класса</p>
      </div>
      <div class="modalwindowinsidetext"><p>Личный тренер</p>
      </div>
      <div class="modalwindowinsidetext1"><p>Гайдук В.П.</p>
      </div>
      <div class="modalwindowinsidetext3"><p>Лучший результат за прошедший год</p>
      </div>
      <div class="modalwindowinsidetext"><p>Спортивные соревнования </p>
      </div>
      <div class="modalwindowinsidetext1"><p>Чемпионат мира (мол)</p>
      </div>
      <div class="modalwindowinsidetext"><p>Спортивная дисциплина</p>
      </div>
      <div class="modalwindowinsidetext1"><p>К-4 1000</p>
      </div>
      <div class="modalwindowinsidetext"><p>Занятое место</p>
      </div>
      <div class="modalwindowinsidetext1"><p>1</p>
      </div>
    </div>
  </div>
</div>
<div class="popup-wrapper">
  <input type="checkbox" class="popup-checkbox" id="popupCheckbox18" />
  <div class="popup">
    <div class="popup-content">
      <label for="popupCheckbox18" class="popup-closer">×</label>
      <div class="modalwindowinside">
        <img class="modalwindowinsideimg" src="/images/академ/Фурман Е.М..jpg" />
      </div>
      <div class="modalwindowinsidetext3"><p>ФУРМАН
        ЕЛЕНА
        МИХАЙЛОВНА

      </p>
      </div>
      <div class="modalwindowinsidetext"><p>День рождения</p>
      </div>
      <div class="modalwindowinsidetext1"><p>03.04.1997</p>
      </div>
      <div class="modalwindowinsidetext"><p>Спортивное звание</p>
      </div>
      <div class="modalwindowinsidetext1"><p>Мастер спорта международного класса</p>
      </div>
      <div class="modalwindowinsidetext"><p>Личный тренер</p>
      </div>
      <div class="modalwindowinsidetext1"><p>Вырвич В.А.</p>
      </div>
      <div class="modalwindowinsidetext3"><p>Лучший результат за прошедший год</p>
      </div>
      <div class="modalwindowinsidetext"><p>Спортивные соревнования </p>
      </div>
      <div class="modalwindowinsidetext1"><p>Чемпионат мира (мол)</p>
      </div>
      <div class="modalwindowinsidetext"><p>Спортивная дисциплина</p>
      </div>
      <div class="modalwindowinsidetext1"><p>К-4 1000</p>
      </div>
      <div class="modalwindowinsidetext"><p>Занятое место</p>
      </div>
      <div class="modalwindowinsidetext1"><p>1</p>
      </div>
    </div>
  </div>
</div>
<div class="popup-wrapper">
  <input type="checkbox" class="popup-checkbox" id="popupCheckbox19" />
  <div class="popup">
    <div class="popup-content">
      <label for="popupCheckbox19" class="popup-closer">×</label>
      <div class="modalwindowinside">
        <img class="modalwindowinsideimg" src="/images/академ/Цеханович.jpg" />
      </div>
      <div class="modalwindowinsidetext3"><p>ЦЕХАНОВИЧ
        АЛЕКСАНДРА
        ОЛЕГОВНА

      </p>
      </div>
      <div class="modalwindowinsidetext"><p>День рождения</p>
      </div>
      <div class="modalwindowinsidetext1"><p>03.04.1997</p>
      </div>
      <div class="modalwindowinsidetext"><p>Спортивное звание</p>
      </div>
      <div class="modalwindowinsidetext1"><p>Мастер спорта международного класса</p>
      </div>
      <div class="modalwindowinsidetext"><p>Личный тренер</p>
      </div>
      <div class="modalwindowinsidetext1"><p>Масейков А.А.</p>
      </div>
      <div class="modalwindowinsidetext3"><p>Лучший результат за прошедший год</p>
      </div>
      <div class="modalwindowinsidetext"><p>Спортивные соревнования </p>
      </div>
      <div class="modalwindowinsidetext1"><p>Чемпионат мира (мол)</p>
      </div>
      <div class="modalwindowinsidetext"><p>Спортивная дисциплина</p>
      </div>
      <div class="modalwindowinsidetext1"><p>К-4 1000</p>
      </div>
      <div class="modalwindowinsidetext"><p>Занятое место</p>
      </div>
      <div class="modalwindowinsidetext1"><p>1</p>
      </div>
    </div>
  </div>
</div>
<div class="popup-wrapper">
  <input type="checkbox" class="popup-checkbox" id="popupCheckbox20" />
  <div class="popup">
    <div class="popup-content">
      <label for="popupCheckbox20" class="popup-closer">×</label>
      <div class="modalwindowinside">
        <img class="modalwindowinsideimg" src="/images/академ/Цупа IMG_9323--4pweb.jpg" />
      </div>
      <div class="modalwindowinsidetext3"><p>ЦУПА
        ЯНА
        АЛЕКСАНДРОВНА

      </p>
      </div>
      <div class="modalwindowinsidetext"><p>День рождения</p>
      </div>
      <div class="modalwindowinsidetext1"><p>03.04.1997</p>
      </div>
      <div class="modalwindowinsidetext"><p>Спортивное звание</p>
      </div>
      <div class="modalwindowinsidetext1"><p>Мастер спорта</p>
      </div>
      <div class="modalwindowinsidetext"><p>Личный тренер</p>
      </div>
      <div class="modalwindowinsidetext1"><p>Лакизо В.П.</p>
      </div>
      <div class="modalwindowinsidetext3"><p>Лучший результат за прошедший год</p>
      </div>
      <div class="modalwindowinsidetext"><p>Спортивные соревнования </p>
      </div>
      <div class="modalwindowinsidetext1"><p>Чемпионат мира (мол)</p>
      </div>
      <div class="modalwindowinsidetext"><p>Спортивная дисциплина</p>
      </div>
      <div class="modalwindowinsidetext1"><p>К-4 1000</p>
      </div>
      <div class="modalwindowinsidetext"><p>Занятое место</p>
      </div>
      <div class="modalwindowinsidetext1"><p>1</p>
      </div>
    </div>
  </div>
</div>
<div class="popup-wrapper">
  <input type="checkbox" class="popup-checkbox" id="popupCheckbox21" />
  <div class="popup">
    <div class="popup-content">
      <label for="popupCheckbox21" class="popup-closer">×</label>
      <div class="modalwindowinside">
        <img class="modalwindowinsideimg" src="/images/академ/Юхнович.JPG" />
      </div>
      <div class="modalwindowinsidetext3"><p>ЮХНОВИЧ
        АЛЕКСАНДРА
        ГЕОРГИЕВНА

      </p>
      </div>
      <div class="modalwindowinsidetext"><p>День рождения</p>
      </div>
      <div class="modalwindowinsidetext1"><p>03.04.1997</p>
      </div>
      <div class="modalwindowinsidetext"><p>Спортивное звание</p>
      </div>
      <div class="modalwindowinsidetext1"><p>Мастер спорта международного класса</p>
      </div>
      <div class="modalwindowinsidetext"><p>Личный тренер</p>
      </div>
      <div class="modalwindowinsidetext1"><p>Вырвич В.А. </p>
      </div>
      <div class="modalwindowinsidetext3"><p>Лучший результат за прошедший год</p>
      </div>
      <div class="modalwindowinsidetext"><p>Спортивные соревнования </p>
      </div>
      <div class="modalwindowinsidetext1"><p>Чемпионат мира (мол)</p>
      </div>
      <div class="modalwindowinsidetext"><p>Спортивная дисциплина</p>
      </div>
      <div class="modalwindowinsidetext1"><p>К-4 1000</p>
      </div>
      <div class="modalwindowinsidetext"><p>Занятое место</p>
      </div>
      <div class="modalwindowinsidetext1"><p>1</p>
      </div>
    </div>
  </div>
</div>




<div class="leadershipB">
  <div class="leadershipBcont">
    <label for="popupCheckboxOne" class="popup-shower leadershipBlable">
      <img class="leadershipBlableimg" <img src="/images/академ/Бичик Ю.В..jpg"/></label>
    <label for="popupCheckboxOne" class="popup-shower leadershipBlable">
      <p class="leadershipBp">БИЧИК
        ЮЛИЯ
        ВАЛЕНТИНОВНА
      </p>
    </label>
  </div>

  <div class="leadershipBcont">
    <label for="popupCheckbox2" class="popup-shower leadershipBlable">
      <img class="leadershipBlableimg" src="/images/академ/Журавская.jpg" /></label>
    <label for="popupCheckbox2" class="popup-shower leadershipBlable">
      <p class="leadershipBp">ЖУРАВСКАЯ
        ТАТЬЯНА
        ВЛАДИМИРОВНА
      </p>
    </label>
  </div>

  <div class="leadershipBcont">
    <label for="popupCheckbox3" class="popup-shower leadershipBlable">
      <img class="leadershipBlableimg" src="/images/академ/Kaminskaya.jpg" /></label>
    <label for="popupCheckbox3" class="popup-shower leadershipBlable">
      <p class="leadershipBp">КАМИНСКАЯ
        ВЕРОНИКА
        МИХАЙЛОВНА
      </p>
    </label>

  </div>
</div>
<div class="leadershipB">
  <div class="leadershipBcont">

    <label for="popupCheckbox4" class="popup-shower leadershipBlable">
      <img class="leadershipBlableimg" src="/images/академ/Карстен Е.А..jpg" /></label>
    <label for="popupCheckbox4" class="popup-shower leadershipBlable">
      <p class="leadershipBp">КАРСТЕН
        ЕКАТЕРИНА
        АНАТОЛЬЕВНА
      </p>
    </label>
  </div>
  <div class="leadershipBcont">
    <label for="popupCheckbox5" class="popup-shower leadershipBlable">
      <img class="leadershipBlableimg" src="/images/академ/Климович Т.М..JPG"/></label>
    <label for="popupCheckbox5" class="popup-shower leadershipBlable">
      <p class="leadershipBp">КЛИМОВИЧ
        ТАТЬЯНА
        МИХАЙЛОВНА
      </p>
    </label>
  </div>
  <div class="leadershipBcont">
    <label for="popupCheckbox6" class="popup-shower leadershipBlable">
      <img class="leadershipBlableimg" <img src="/images/академ/Кречко М.Н..JPG"/></label>
    <label for="popupCheckbox6" class="popup-shower leadershipBlable">
      <p class="leadershipBp">КРЕЧКО
        МАРГАРИТА
        НИКОЛАЕВНА
      </p>
    </label>
  </div>
</div>
<div class="leadershipB">
  <div class="leadershipBcont">

    <label for="popupCheckbox7" class="popup-shower leadershipBlable">
      <img class="leadershipBlableimg" src="/images/академ/Кухта Т.А..jpg" /></label>

    <label for="popupCheckbox7" class="popup-shower leadershipBlable">
      <p class="leadershipBp">КУХТА
        ТАТЬЯНА
        АЛЕКСАНДРОВНА
      </p>
    </label>
  </div>
  <div class="leadershipBcont">

    <label for="popupCheckbox8" class="popup-shower leadershipBlable">
      <img class="leadershipBlableimg" src="/images/академ/Leshkevich.jpg" /></label>

    <label for="popupCheckbox8" class="popup-shower leadershipBlable">
      <p class="leadershipBp">ЛЕШКЕВИЧ
        АЛЕСЯ
        ВЛАДИМИРОВНА
      </p>
    </label>
  </div>
  <div class="leadershipBcont">

    <label for="popupCheckbox9" class="popup-shower leadershipBlable">
      <img class="leadershipBlableimg" src="/images/академ/Марченко Д.С..JPG"  /></label>

    <label for="popupCheckbox9" class="popup-shower leadershipBlable">
      <p class="leadershipBp">МАРЧЕНКО
        ДАРЬЯ
        СЕРГЕЕВНА
      </p>
    </label>
  </div>
</div>
<div class="leadershipB">
  <div class="leadershipBcont">

    <label for="popupCheckbox10" class="popup-shower leadershipBlable">
      <img class="leadershipBlableimg" src="/images/академ/Никулина И.Ю..jpg" /></label>

    <label for="popupCheckbox10" class="popup-shower leadershipBlable">
      <p class="leadershipBp">НИКУЛИНА
        ИННА
        ЮРЬЕВНА
      </p>
    </label>
  </div>
  <div class="leadershipBcont">

    <label for="popupCheckbox11" class="popup-shower leadershipBlable">
      <img class="leadershipBlableimg" src="/images/академ/Pavlovich.jpg"/></label>

    <label for="popupCheckbox11" class="popup-shower leadershipBlable">
      <p class="leadershipBp">ПАВЛОВИЧ
        ЯРОСЛАВА
        АНАТОЛЬЕВНА
      </p>
    </label>
  </div>
  <div class="leadershipBcont">

    <label for="popupCheckbox12" class="popup-shower leadershipBlable">
      <img class="leadershipBlableimg" src="/images/академ/Пигарева Т.А.1.JPG" /></label>

    <label for="popupCheckbox12" class="popup-shower leadershipBlable">
      <p class="leadershipBp">ПИГАРЕВА
        ТАТЬЯНА
        АЛЕКСАНДРОВНА
      </p>
    </label>
  </div>
</div>
<div class="leadershipB">
  <div class="leadershipBcont">

    <label for="popupCheckbox13" class="popup-shower leadershipBlable">
      <img class="leadershipBlableimg" src="/images/академ/Романовская.jpg"/></label>

    <label for="popupCheckbox13" class="popup-shower leadershipBlable">
      <p class="leadershipBp">РОМАНОВСКАЯ
        КСЕНИЯ
        АЛЕКСАНДРОВНА
      </p>
    </label>
  </div>
  <div class="leadershipBcont">

    <label for="popupCheckbox14" class="popup-shower leadershipBlable">
      <img class="leadershipBlableimg" src="/images/академ/Семенова А.А..jpg" /></label>

    <label for="popupCheckbox14" class="popup-shower leadershipBlable">
      <p class="leadershipBp">СЕМЁНОВА
        АНАСТАСИЯ
        АЛЕКСЕЕВНА
      </p>
    </label>
  </div>
  <div class="leadershipBcont">

    <label for="popupCheckbox15" class="popup-shower leadershipBlable">
      <img class="leadershipBlableimg" src="/images/академ/photo_Sidoruk.jpg" /></label>

    <label for="popupCheckbox15" class="popup-shower leadershipBlable">
      <p class="leadershipBp">СИДОРУК
        ЮЛИЯ
        СЕРГЕЕВНА
      </p>
    </label>
  </div>
</div>
<div class="leadershipB">
  <div class="leadershipBcont">

    <label for="popupCheckbox16" class="popup-shower leadershipBlable">
      <img class="leadershipBlableimg" src="/images/академ/Староселец К.С..jpg" /></label>

    <label for="popupCheckbox16" class="popup-shower leadershipBlable">
      <p class="leadershipBp">СТАРОСЕЛЕЦ
        КРИСТИНА
        СЕРГЕЕВНА
      </p>
    </label>
  </div>
  <div class="leadershipBcont">

    <label for="popupCheckbox17" class="popup-shower leadershipBlable">
      <img class="leadershipBlableimg" src="/images/академ/УгольникIMG_0516.jpg"/></label>

    <label for="popupCheckbox17" class="popup-shower leadershipBlable">
      <p class="leadershipBp">УГОЛЬНИК
        АЛЕКСАНДРА
        НИКОЛАЕВНА
      </p>
    </label>
  </div>
  <div class="leadershipBcont">

    <label for="popupCheckbox18" class="popup-shower leadershipBlable">
      <img class="leadershipBlableimg" src="/images/академ/Фурман Е.М..jpg" /></label>

    <label for="popupCheckbox18" class="popup-shower leadershipBlable">
      <p class="leadershipBp">ФУРМАН
        ЕЛЕНА
        МИХАЙЛОВНА
      </p>
    </label>
  </div>
</div>
<div class="leadershipB">
  <div class="leadershipBcont">

    <label for="popupCheckbox19" class="popup-shower leadershipBlable">
      <img class="leadershipBlableimg" src="/images/академ/Цеханович.jpg" /></label>

    <label for="popupCheckbox19" class="popup-shower leadershipBlable">
      <p class="leadershipBp">ЦЕХАНОВИЧ
        АЛЕКСАНДРА
        ОЛЕГОВНА
      </p>
    </label>
  </div>
  <div class="leadershipBcont">

    <label for="popupCheckbox20" class="popup-shower leadershipBlable">
      <img class="leadershipBlableimg" src="/images/академ/Цупа IMG_9323--4pweb.jpg" /></label>

    <label for="popupCheckbox20" class="popup-shower leadershipBlable">
      <p class="leadershipBp">ЦУПА
        ЯНА
        АЛЕКСАНДРОВНА
      </p>
    </label>
  </div>
  <div class="leadershipBcont">

    <label for="popupCheckbox21" class="popup-shower leadershipBlable">
      <img class="leadershipBlableimg" src="/images/академ/Юхнович.JPG" /></label>

    <label for="popupCheckbox21" class="popup-shower leadershipBlable">
      <p class="leadershipBp">ЮХНОВИЧ
        АЛЕКСАНДРА
        ГЕОРГИЕВНА
      </p>
    </label>
  </div>
</div>





<div class="blockleadership">

  <p class="modalwindowinsidetextleadership">Факультет</p>

  <p class="modalwindowinsidetextleadership1">Физическая культура и спорт </p>

</div>
<div class="blockleadership">
  <p class="modalwindowinsidetextleadership">Квалификация</p>

  <p class="modalwindowinsidetextleadership1">Преподаватель физической культуры и спорта, тренер по легкой атлетике</p>

</div>






<div class="popup-wrapper">
  <input type="checkbox" class="popup-checkbox" id="popupCheckboxOne" />
  <div class="popup">
    <div class="popup-content">
      <label for="popupCheckboxOne" class="popup-closer">×</label>
      <div class="modalwindowinside">
        <img class="modalwindowinsideimg" src="/images/Leadership/Khmialkov_2.jpg" />
      </div>
      <div class="modalwindowinsidetext3"><p>Хмельков Сергей Васильевич</p>
      </div>
      <div class="modalwindowinsidetext3"><p>В должности директора с 16.05.2011. </p>
      </div>
      <div class="blockleadership">
        <p class="modalwindowinsidetextleadership">Высшее учебное заведение</p>
        <p class="modalwindowinsidetextleadership1">Академия физического воспитания и спорта Республики Беларусь</p>
      </div>
      <div class="blockleadership">
        <p class="modalwindowinsidetextleadership">Факультет</p>
        <p class="modalwindowinsidetextleadership1">Физическая культура и спорт</p>
      </div>
      <div class="blockleadership">
        <p class="modalwindowinsidetextleadership">Специальность</p>
        <p class="modalwindowinsidetextleadership1">Преподаватель физической культуры и спорта. Тренер по легкой атлетике.</p>
      </div>
      <div class="blockleadership">
        <p class="modalwindowinsidetextleadership">Телефон</p>
        <p class="modalwindowinsidetextleadership1">   </p>
      </div>
    </div>
  </div>
</div>
<div class="popup-wrapper">
  <input type="checkbox" class="popup-checkbox" id="popupCheckbox2" />
  <div class="popup">
    <div class="popup-content">
      <label for="popupCheckbox2" class="popup-closer">×</label>
      <div class="modalwindowinside">
        <img class="modalwindowinsideimg" src="/images/Leadership/Молочко Дмитрий Сергеевич.jpg" />
      </div>
      <div class="modalwindowinsidetext3"><p>Молочко Дмитрий Сергеевич</p>
      </div>
      <div class="modalwindowinsidetext3"><p>С 01.03.2012 инструктор-методист, в должности заместителя директора по основной деятельности с 19.09.2013.  </p>
      </div>
      <div class="blockleadership">
        <p class="modalwindowinsidetextleadership">Высшее учебное заведение</p>
        <p class="modalwindowinsidetextleadership1">Белорусский государственный университет физической культуры</p>
      </div>
      <div class="blockleadership">
        <p class="modalwindowinsidetextleadership">Факультет</p>
        <p class="modalwindowinsidetextleadership1">Физическая культура и спорт</p>
      </div>
      <div class="blockleadership">
        <p class="modalwindowinsidetextleadership">Специальность</p>
        <p class="modalwindowinsidetextleadership1">Преподаватель физической культуры и спорта. тренер по гребле.</p>
      </div>
      <div class="blockleadership">
        <p class="modalwindowinsidetextleadership">Высшее учебное заведение</p>
        <p class="modalwindowinsidetextleadership1">Академия управления при президенте Республики Беларусь</p>
      </div>
      <div class="blockleadership">
        <p class="modalwindowinsidetextleadership">Факультет</p>
        <p class="modalwindowinsidetextleadership1">Государственное управление и право</p>
      </div>
      <div class="blockleadership">
        <p class="modalwindowinsidetextleadership">Специальность</p>
        <p class="modalwindowinsidetextleadership1">Юрист</p>
      </div>
      <div class="blockleadership">
        <p class="modalwindowinsidetextleadership">Спортивное звание</p>
        <p class="modalwindowinsidetextleadership1">Мастер спорта Республики Беларусь по гребле на байдарках и каноэ </p>
      </div>
      <div class="blockleadership">
        <p class="modalwindowinsidetextleadership">Курирует вопросы отдела:</p>
        <p class="modalwindowinsidetextleadership1"><a href="/ru/%D1%80%D1%83%D0%BA%D0%BE%D0%B2%D0%BE%D0%B4%D1%81%D1%82%D0%B2%D0%BE/%D1%83%D1%87%D0%B5%D0%B1%D0%BD%D0%BE-%D1%81%D0%BF%D0%BE%D1%80%D1%82%D0%B8%D0%B2%D0%BD%D1%8B%D0%B9-%D0%BE%D1%82%D0%B4%D0%B5%D0%BB" title="Учебно-спортивный отдел">Учебно-спортивный отдел.</a></p>
      </div>
      <div class="blockleadership">
        <p class="modalwindowinsidetextleadership">Телефон</p>
        <p class="modalwindowinsidetextleadership1">   </p>
      </div>
    </div>
  </div>
</div>
<div class="popup-wrapper">
  <input type="checkbox" class="popup-checkbox" id="popupCheckbox3" />
  <div class="popup">
    <div class="popup-content">
      <label for="popupCheckbox3" class="popup-closer">×</label>
      <div class="modalwindowinside">
        <img class="modalwindowinsideimg" src="/images/Leadership/Табунов Петр Петрович.jpg" />
      </div>

      <div class="modalwindowinsidetext3"><p>Табунов Петр Петрович</p>
      </div>
      <div class="modalwindowinsidetext3"><p>В должности заместитель директора по административно-хозяйственной деятельности с 05.01.2012.  </p>
      </div>
      <div class="blockleadership">
        <p class="modalwindowinsidetextleadership">Высшее учебное заведение</p>
        <p class="modalwindowinsidetextleadership1">Белорусская государственная сельскохозяйственная академия</p>
      </div>
      <div class="blockleadership">
        <p class="modalwindowinsidetextleadership">Факультет</p>
        <p class="modalwindowinsidetextleadership1">Промышленное рыбоводство</p>
      </div>
      <div class="blockleadership">
        <p class="modalwindowinsidetextleadership">Специальность</p>
        <p class="modalwindowinsidetextleadership1">Инженер-технолог</p>
      </div>
      <div class="blockleadership">
        <p class="modalwindowinsidetextleadership">Курирует вопросы отдела:</p>
        <p class="modalwindowinsidetextleadership1">
        <a href="/ru/%D1%80%D1%83%D0%BA%D0%BE%D0%B2%D0%BE%D0%B4%D1%81%D1%82%D0%B2%D0%BE/%D1%82%D1%80%D0%B0%D0%BD%D1%81%D0%BF%D0%BE%D1%80%D1%82%D0%BD%D1%8B%D0%B9-%D0%BE%D1%82%D0%B4%D0%B5%D0%BB" title="Транспортный отдел">Транспортный отдел;</a>
        <a href="/ru/%D1%80%D1%83%D0%BA%D0%BE%D0%B2%D0%BE%D0%B4%D1%81%D1%82%D0%B2%D0%BE/%D0%BE%D1%82%D0%B4%D0%B5%D0%BB-%D0%BF%D0%BE-%D1%8D%D0%BA%D1%81%D0%BF%D0%BB%D1%83%D0%B0%D1%82%D0%B0%D1%86%D0%B8%D0%B8-%D0%B8-%D0%BE%D0%B1%D1%81%D0%BB%D1%83%D0%B6%D0%B8%D0%B2%D0%B0%D0%BD%D0%B8%D1%8E-%D0%B3%D1%80%D0%B5%D0%B1%D0%BD%D0%BE%D0%B3%D0%BE-%D0%BA%D0%B0%D0%BD%D0%B0%D0%BB%D0%B0" title="Отдел по эксплуатации и обслуживанию гребного канала;">Отдел по эксплуатации и обслуживанию гребного канала;</a>
        <a href="/ru/%D1%80%D1%83%D0%BA%D0%BE%D0%B2%D0%BE%D0%B4%D1%81%D1%82%D0%B2%D0%BE/%D1%85%D0%BE%D0%B7%D1%8F%D0%B9%D1%81%D1%82%D0%B2%D0%B5%D0%BD%D0%BD%D1%8B%D0%B9-%D0%BE%D1%82%D0%B4%D0%B5%D0%BB" title="Хозяйственный отдел">Хозяйственный отдел.</a>
        </p>
      </div>
      <div class="blockleadership">
        <p class="modalwindowinsidetextleadership">Телефон</p>
        <p class="modalwindowinsidetextleadership1">   </p>
      </div>
    </div>
  </div>
</div>
<div class="popup-wrapper">
  <input type="checkbox" class="popup-checkbox" id="popupCheckbox4" />
  <div class="popup">
    <div class="popup-content">
      <label for="popupCheckbox4" class="popup-closer">×</label>
      <div class="modalwindowinside">
        <img class="modalwindowinsideimg" src="/images/Leadership/Маненок1.jpg" />
      </div>
      <div class="modalwindowinsidetext3"><p>Манёнок Алла Анатольевна</p>
    </div>
    <div class="modalwindowinsidetext3"><p>В должности главного бухгалтера с --.--.20--.  </p>
    </div>
    <div class="blockleadership">
      <p class="modalwindowinsidetextleadership">Высшее учебное заведение</p>
      <p class="modalwindowinsidetextleadership1">Белорусская государственная сельскохозяйственная академия</p>
    </div>
    <div class="blockleadership">
      <p class="modalwindowinsidetextleadership">Факультет</p>
      <p class="modalwindowinsidetextleadership1">Бухгалтерский учет, анализ, аудит</p>
    </div>
    <div class="blockleadership">
      <p class="modalwindowinsidetextleadership">Специальность</p>
      <p class="modalwindowinsidetextleadership1">Экономист</p>
    </div>
    <div class="blockleadership">
      <p class="modalwindowinsidetextleadership">Курирует вопросы отдела:</p>
      <p class="modalwindowinsidetextleadership1">Отдел бухгалтерского учета и планово-экономической деятельности
      </p>
    </div>
    <div class="blockleadership">
      <p class="modalwindowinsidetextleadership">Телефон</p>
      <p class="modalwindowinsidetextleadership1">   </p>
    </div>
    </div>
  </div>
</div>
<div class="popup-wrapper">
  <input type="checkbox" class="popup-checkbox" id="popupCheckbox5" />
  <div class="popup">
    <div class="popup-content">
      <label for="popupCheckbox5" class="popup-closer">×</label>
      <div class="modalwindowinside">
        <img class="modalwindowinsideimg" src="/images/Leadership/Фитисов Валентин Леонидович.jpg" />
      </div>
      <div class="modalwindowinsidetext3"><p>В должности главного инженера с 07.04.2015.</p>
      </div>
      <div class="blockleadership">
        <p class="modalwindowinsidetextleadership">Высшее учебное заведение</p>
        <p class="modalwindowinsidetextleadership1">Белорусского ордена трудового красного знамени политехнический институт</p>
      </div>
      <div class="blockleadership">
        <p class="modalwindowinsidetextleadership">Факультет</p>
        <p class="modalwindowinsidetextleadership1">Электроснабжение промышленных предприятий, городов и сельского хозяйства</p>
      </div>
      <div class="blockleadership">
        <p class="modalwindowinsidetextleadership">Специальность</p>
        <p class="modalwindowinsidetextleadership1">Инженер-электрик</p>
      </div>
      <div class="blockleadership">
        <p class="modalwindowinsidetextleadership">Курирует вопросы отдела:</p>
        <p class="modalwindowinsidetextleadership1">
          <!--<a href="/ru/%D1%80%D1%83%D0%BA%D0%BE%D0%B2%D0%BE%D0%B4%D1%81%D1%82%D0%B2%D0%BE/%D1%85%D0%BE%D0%B7%D1%8F%D0%B9%D1%81%D1%82%D0%B2%D0%B5%D0%BD%D0%BD%D1%8B%D0%B9-%D0%BE%D1%82%D0%B4%D0%B5%D0%BB" title="Хозяйственный отдел">Хозяйственный отдел.</a>-->
        </p>
      </div>
      <div class="blockleadership">
        <p class="modalwindowinsidetextleadership">Телефон</p>
        <p class="modalwindowinsidetextleadership1">   </p>
      </div>
    </div>
  </div>
</div>
<div class="popup-wrapper">
  <input type="checkbox" class="popup-checkbox" id="popupCheckbox6" />
  <div class="popup">
    <div class="popup-content">
      <label for="popupCheckbox6" class="popup-closer">×</label>
      <div class="modalwindowinside">
        <img class="modalwindowinsideimg" src="/images/Leadership/Космачев Евгений Петрович.jpg" />
      </div>
      <div class="modalwindowinsidetext3"><p>В должности инженера по охране труда с --.--.20--.</p>
      </div>
      <div class="blockleadership">
        <p class="modalwindowinsidetextleadership">Высшее учебное заведение</p>
        <p class="modalwindowinsidetextleadership1"> </p>
      </div>
      <div class="blockleadership">
        <p class="modalwindowinsidetextleadership">Факультет</p>
        <p class="modalwindowinsidetextleadership1"> </p>
      </div>
      <div class="blockleadership">
        <p class="modalwindowinsidetextleadership">Специальность</p>
        <p class="modalwindowinsidetextleadership1"> </p>
      </div>
      <div class="blockleadership">
        <p class="modalwindowinsidetextleadership">Телефон</p>
        <p class="modalwindowinsidetextleadership1">   </p>
      </div>
    </div>
  </div>
</div>
<div class="popup-wrapper">
  <input type="checkbox" class="popup-checkbox" id="popupCheckbox7" />
  <div class="popup">
    <div class="popup-content">
      <label for="popupCheckbox7" class="popup-closer">×</label>
      <div class="modalwindowinside">
        <img class="modalwindowinsideimg" src="/images/Leadership/Марукович Ольга Валерьевна.jpg" />
      </div>
      <div class="modalwindowinsidetext3"><p>В должности секретаря приемной руководителя с 10.05.2012.</p>
      </div>
      <div class="blockleadership">
        <p class="modalwindowinsidetextleadership">Телефон</p>
        <p class="modalwindowinsidetextleadership1">   </p>
      </div>
    </div>
  </div>
</div>
<div class="leadershipB">
  <div class="leadershipBcont">
    <div>
      <label for="popupCheckboxOne" class="popup-shower leadershipBlable">
        <img class="leadershipBlableimg" src="/images/Leadership/Khmialkov_2.jpg" /></label>
    </div>
    <div>
      <label for="popupCheckboxOne" class="popup-shower leadershipBlable">
        <p class="leadershipBp">Хмельков Сергей Васильевич</p>
      </label>
    </div>
    <div>
      <label for="popupCheckboxOne" class="popup-shower leadershipBlable">
        <p class="leadershipBp leadershipBp16">Директор</p>
      </label>
    </div>
  </div>

  <div class="leadershipBcont">
    <label for="popupCheckbox2" class="popup-shower leadershipBlable">
      <img class="leadershipBlableimg" src="/images/Leadership/Молочко Дмитрий Сергеевич.jpg" /></label>
    <div>
      <label for="popupCheckbox2" class="popup-shower leadershipBlable"><p class="leadershipBp">Молочко Дмитрий Сергеевич</p>
      </label>
    </div>
    <div>
      <label for="popupCheckbox2" class="popup-shower leadershipBlable"><p class="leadershipBp leadershipBp16">Заместитель директора по основной деятельности</p>
      </label>
    </div>
  </div>

  <div class="leadershipBcont">
    <label for="popupCheckbox3" class="popup-shower leadershipBlable">
      <img class="leadershipBlableimg" src="/images/Leadership/Табунов Петр Петрович.jpg" /></label>
    <label for="popupCheckbox3" class="popup-shower leadershipBlable"><p class="leadershipBp">Табунов Петр Петрович</p></label>
      <label for="popupCheckbox3" class="popup-shower leadershipBlable"><p class="leadershipBp leadershipBp16">Заместитель директора по административно-хозяйственной деятельности</p></label>
  </div>
</div>
<div class="leadershipB">
  <div class="leadershipBcont">

      <label for="popupCheckbox4" class="popup-shower leadershipBlable">
        <img class="leadershipBlableimg" src="/images/Leadership/Маненок1.jpg" /></label>

      <label for="popupCheckbox4" class="popup-shower leadershipBlable"><p class="leadershipBp">Манёнок Алла Анатольевна</p></label>
      <label for="popupCheckbox4" class="popup-shower leadershipBlable"><p class="leadershipBp leadershipBp16">Главный бухгалтер</p></label>
  </div>
  <div class="leadershipBcont">
    <label for="popupCheckbox5" class="popup-shower leadershipBlable">
      <img class="leadershipBlableimg" src="/images/Leadership/Фитисов Валентин Леонидович.jpg" /></label>
    <label for="popupCheckbox5" class="popup-shower leadershipBlable"><p class="leadershipBp">Фитисов Валентин Леонидович</p></label>
      <label for="popupCheckbox5" class="popup-shower leadershipBlable"><p class="leadershipBp leadershipBp16">Главный инженер</p></label>
  </div>
  <div class="leadershipBcont">
    <label for="popupCheckbox6" class="popup-shower leadershipBlable">
      <img class="leadershipBlableimg" src="/images/Leadership/Космачев Евгений Петрович.jpg" /></label>
    <label for="popupCheckbox6" class="popup-shower leadershipBlable"><p class="leadershipBp">Космачев Евгений Петрович</p></label>
      <label for="popupCheckbox6" class="popup-shower leadershipBlable"><p class="leadershipBp leadershipBp16">Инженер по охране труда</p></label>
  </div>
</div>
<div class="leadershipB">
  <div class="leadershipBcont">

      <label for="popupCheckbox7" class="popup-shower leadershipBlable">
        <img class="leadershipBlableimg" src="/images/Leadership/Марукович Ольга Валерьевна.jpg" /></label>

    <label for="popupCheckbox7" class="popup-shower leadershipBlable"><p class="leadershipBp">Марукович Ольга Валерьевна</p></label>
    <label for="popupCheckbox7" class="popup-shower leadershipBlable"><p class="leadershipBp leadershipBp16">Секретарь приемной руководителя</p></label>
  </div>
</div>













<div class="fer backgroundfon">
  <h1 style="padding-top: 1%; text-align:center" class="leadership">НАЦИОНАЛЬНАЯ КОМАНДА (ОСНОВНОЙ СОСТАВ) – КАНОЭ (МУЖЧИНЫ)</h1>
  <div class="blok7" data-title="Мастер спорта международного класса" data-zagolovok="Козырь
Артем Владимирович">
    <img src="/images/байдарка/Козырь.jpg" /></div>

  <div class="blok7" data-title="Заслуженный мастер спорта" data-zagolovok="Богданович
Андрей Викторович">
    <img src="/images/байдарка/BLR BAHDANOVICH Andrei 1.jpg" /></div>

  <div class="blok7" data-title="Заслуженный мастер спорта" data-zagolovok="Волчецкий
Александр Евгеньевич">
    <img src="/images/байдарка/4 Волчецкий Александр.jpg" /></div>

  <div class="blok7" data-title="Мастер спорта международного класса" data-zagolovok="Солодуха
Глеб Иванович">
    <img src="/images/байдарка/Солодуха.jpg" /></div>

  <div class="blok7" data-title="Заслуженный мастер спорта" data-zagolovok="Рябченко
Дмитрий Александрович">
    <img src="/images/байдарка/Рябченко Дима.jpg" /></div>


  <div class="blok7" data-title="Мастер спорта международного класса" data-zagolovok="Петров
Максим Васильевич">
    <img src="/images/байдарка/петров.jpg" /></div>

  <div class="blok7" data-title="Мастер спорта международного класса" data-zagolovok="Махлай
Денис Сергеевич">
    <img src="/images/байдарка/Махлай фото 2014.jpg" /></div>

  <div class="blok7" data-title="Мастер спорта международного класса" data-zagolovok="Потапенко
Иван Сергеевич">
    <img src="/images/байдарка/Потапенко 2.jpg" /></div>

  <div class="blok7" data-title="Мастер спорта международного класса" data-zagolovok="Махнист
Алексей Сергеевич">
    <img src="/images/байдарка/Махнист.jpg" /></div>
</div>

























<header>
  <h2 class="Honhomege">Календарь соревнований</h2>
</header>
<section class="carousel">
  <section style="background-color: transparent;" class="reel wrapper">

    <article style="background-color: transparent;">
      <a href="#" class="image featured"><img src="/images/town/grodno-city-panorama.jpg" /></a>
      <br />
      <header>
        <h3>г. Гродно</h3>
      </header>
      <div class="text-reading">
        <p>Республиканские соревнования по ОФП памяти Н.Г.Юревича</p>
        <p>25-27 января</p>
      </div>
    </article>

    <article style="background-color: transparent;">
      <a href="#" class="image featured"><img src="/images/town/463_11.jpg" /></a>
      <br />
      <header>
        <h3>г.Брест</h3>
      </header>
      <div class="text-reading">
        <p>Республиканские соревнования памяти защитников Брестской крепости&#160;</p>
        <p>26-29 апреля</p>
      </div>
    </article>

    <article style="background-color: transparent;">
      <a href="#" class="image featured"><img src="/images/town/463_11.jpg" /></a>
      <br />
      <header><h3>г.Брест</h3>
      </header>
      <div class="text-reading">
        <p>Кубок Республики Беларусь, 1-я часть&#160;</p>
        <p>26-29&#160;апреля</p>
      </div>
    </article>

    <article style="background-color: transparent;">
      <a href="#" class="image featured"><img src="/images/town/порт.jpg" /></a>
      <br />
      <header><h3>г.Монтемор-у-Велью<br />(Португалия)</h3>
      </header>
      <div class="text-reading">
        <p>Кубок мира – 1-й этап</p>
        <p><span style="background-color: transparent;">8-15&#160;</span>
          <span style="background-color: transparent;">мая</span>
        </p>
      </div>
    </article>

    <article style="background-color: transparent;">
      <a href="#" class="image featured"><img src="/images/town/Seged_2.JPG" /></a>
      <br />
      <header><h3>г.Сегед<br />(Венгрия)</h3>
      </header>
      <div class="text-reading">
        <p>Кубок мира – 2-й этап </p>
        <p>15-22&#160;мая</p>
      </div>
    </article>

    <article style="background-color: transparent;">
      <a href="#" class="image featured"><img src="/images/pic02.jpg" /></a>
      <br />
      <header><h3>г.Белград<br />(Сербия)</h3>
      </header>
      <div>
        <p class="text-reading">Кубок мира – 3-й этап </p>
        <p>22-29&#160;мая</p>
      </div>
    </article>

    <article style="background-color: transparent;">
      <a href="#" class="image featured"><img src="/images/pic02.jpg" /></a>
      <br />
      <header><h3>г.Заславль<br />г.Брест</h3>
      </header>
      <div class="text-reading">
        <p>Первенство Республики Беларусь </p>
        <p>24-27&#160;мая</p>
      </div>
    </article>

    <article style="background-color: transparent;">
      <a href="#" class="image featured"><img src="/images/pic02.jpg" /></a>
      <br />
      <header><h3>г.Брест<br />г.Заславль</h3>
      </header>
      <div class="text-reading">
        <p>Республиканская универсиада </p>
        <p>30 мая-2 июня</p>
      </div>
    </article>

    <article style="background-color: transparent;">
      <a href="#" class="image featured"><img src="/images/pic02.jpg" /></a>
      <br />
      <header><h3>г.Белград<br />(Сербия)</h3>
      </header>
      <div class="text-reading">
        <p>Чемпионат Европы среди юниоров и молодежи до 23 лет</p>
        <p>19-26<br />июня</p>
      </div>
    </article>

    <article style="background-color: transparent;">
      <a href="#" class="image featured" style="margin-top: 20%"><img src="/images/pic05.jpg" /></a>
      <br />
      <header><h3>г.Гомель</h3>
      </header>
      <div class="text-reading">
        <p>Спартакиада Республики Беларусь среди ДЮСШ, СДЮШОР, ЦОР</p>
        <p>13-16 июня</p>
      </div>
    </article>
  </section>
</section>
<header>
  <h2 class="Honhomege">
    <a href="/%D0%B4%D0%BE%D0%BC%D0%B0%D1%88%D0%BD%D1%8F%D1%8F/%D0%B2%D0%B8%D0%B4%D0%B5%D0%BE-%D0%B0%D1%80%D1%85%D0%B8%D0%B2">Видео архив</a>
  </h2>
</header>
<section class="carousel">
  <section style="background-color: transparent;" class="reel wrapper">
    <article style="background-color: transparent;">
      <iframe src="https://www.facebook.com/plugins/video.php?href=https%3A%2F%2Fwww.facebook.com%2Fzaslavlrowingcanal%2Fvideos%2F1780962808890380%2F&amp;show_text=0&amp;width=400" width="100%" height="300" style="border:none;overflow:hidden" scrolling="no" frameborder="0" allowfullscreen="true"></iframe>
      <br />
      <header>
        <p>Арбитражный суд в Лозанне оправдал белорусских гребцов
        </p>
      </header>
    </article>
    <article style="background-color: transparent;">
      <iframe src="https://www.facebook.com/plugins/video.php?href=https%3A%2F%2Fwww.facebook.com%2Fzaslavlrowingcanal%2Fvideos%2F1721703468149648%2F&amp;show_text=0&amp;width=560" width="100%" height="300" style="border:none;overflow:hidden" scrolling="no" frameborder="0" allowfullscreen="true"></iframe>
      <br />
      <header>
        <p>Золото в исполнении Санько Н., Сухоносов В., Дайнеко С., Федор...
        </p>
      </header>
    </article>
    <article style="background-color: transparent;">
      <iframe src="https://www.facebook.com/plugins/video.php?href=https%3A%2F%2Fwww.facebook.com%2Fzaslavlrowingcanal%2Fvideos%2F1780962808890380%2F&amp;show_text=0&amp;width=400" width="100%" height="300" style="border:none;overflow:hidden" scrolling="no" frameborder="0" allowfullscreen="true"></iframe>
      <br />
      <header>
        <p>В НОК прошла пресс-конференция
        </p>
      </header>
    </article>
    <article style="background-color: transparent;">
      <iframe src="https://www.facebook.com/plugins/video.php?href=https%3A%2F%2Fwww.facebook.com%2Fzaslavlrowingcanal%2Fvideos%2F1780962808890380%2F&amp;show_text=0&amp;width=400" width="100%" height="300" style="border:none;overflow:hidden" scrolling="no" frameborder="0" allowfullscreen="true"></iframe>
      <br />
      <header>
        <p>Арбитражный суд в Лозанне оправдал белорусских гребцов
        </p>
      </header>
    </article>
    <article style="background-color: transparent;">
      <iframe src="https://www.facebook.com/plugins/video.php?href=https%3A%2F%2Fwww.facebook.com%2Fzaslavlrowingcanal%2Fvideos%2F1780962808890380%2F&amp;show_text=0&amp;width=400" width="100%" height="300" style="border:none;overflow:hidden" scrolling="no" frameborder="0" allowfullscreen="true"></iframe>
      <br />
      <header>
        <p>Арбитражный суд в Лозанне оправдал белорусских гребцов
        </p>
      </header>
    </article>
    <article style="background-color: transparent;">
      <iframe src="https://www.facebook.com/plugins/video.php?href=https%3A%2F%2Fwww.facebook.com%2Fzaslavlrowingcanal%2Fvideos%2F1780962808890380%2F&amp;show_text=0&amp;width=400" width="100%" height="300" style="border:none;overflow:hidden" scrolling="no" frameborder="0" allowfullscreen="true"></iframe>
      <br />
      <header>
        <p>Арбитражный суд в Лозанне оправдал белорусских гребцов
        </p>
      </header>
    </article>
    <!--<article style="background-color: transparent;">-->
      <!--<a href="#" class="image featured"><img src="/images/town/grodno-city-panorama.jpg" /></a>-->
      <!--<br />-->
      <!--<header>-->
        <!--<h3>г. Гродно</h3>-->
      <!--</header>-->
      <!--<div class="text-reading">-->
        <!--<p>Республиканские соревнования по ОФП памяти Н.Г.Юревича</p>-->
        <!--<p>25-27 января</p>-->
      <!--</div>-->
    <!--</article>-->

    <!--<article style="background-color: transparent;">-->
      <!--<a href="#" class="image featured"><img src="/images/town/463_11.jpg" /></a>-->
      <!--<br />-->
      <!--<header>-->
        <!--<h3>г.Брест</h3>-->
      <!--</header>-->
      <!--<div class="text-reading">-->
        <!--<p>Республиканские соревнования памяти защитников Брестской крепости&#160;</p>-->
        <!--<p>26-29 апреля</p>-->
      <!--</div>-->
    <!--</article>-->

    <!--<article style="background-color: transparent;">-->
      <!--<a href="#" class="image featured"><img src="/images/town/463_11.jpg" /></a>-->
      <!--<br />-->
      <!--<header><h3>г.Брест</h3>-->
      <!--</header>-->
      <!--<div class="text-reading">-->
        <!--<p>Кубок Республики Беларусь, 1-я часть&#160;</p>-->
        <!--<p>26-29&#160;апреля</p>-->
      <!--</div>-->
    <!--</article>-->

    <!--<article style="background-color: transparent;">-->
      <!--<a href="#" class="image featured"><img src="/images/town/порт.jpg" /></a>-->
      <!--<br />-->
      <!--<header><h3>г.Монтемор-у-Велью<br />(Португалия)</h3>-->
      <!--</header>-->
      <!--<div class="text-reading">-->
        <!--<p>Кубок мира – 1-й этап</p>-->
        <!--<p><span style="background-color: transparent;">8-15&#160;</span>-->
          <!--<span style="background-color: transparent;">мая</span>-->
        <!--</p>-->
      <!--</div>-->
    <!--</article>-->

    <!--<article style="background-color: transparent;">-->
      <!--<a href="#" class="image featured"><img src="/images/town/Seged_2.JPG" /></a>-->
      <!--<br />-->
      <!--<header><h3>г.Сегед<br />(Венгрия)</h3>-->
      <!--</header>-->
      <!--<div class="text-reading">-->
        <!--<p>Кубок мира – 2-й этап </p>-->
        <!--<p>15-22&#160;мая</p>-->
      <!--</div>-->
    <!--</article>-->

    <!--<article style="background-color: transparent;">-->
      <!--<a href="#" class="image featured"><img src="/images/pic02.jpg" /></a>-->
      <!--<br />-->
      <!--<header><h3>г.Белград<br />(Сербия)</h3>-->
      <!--</header>-->
      <!--<div>-->
        <!--<p class="text-reading">Кубок мира – 3-й этап </p>-->
        <!--<p>22-29&#160;мая</p>-->
      <!--</div>-->
    <!--</article>-->

    <!--<article style="background-color: transparent;">-->
      <!--<a href="#" class="image featured"><img src="/images/pic02.jpg" /></a>-->
      <!--<br />-->
      <!--<header><h3>г.Заславль<br />г.Брест</h3>-->
      <!--</header>-->
      <!--<div class="text-reading">-->
        <!--<p>Первенство Республики Беларусь </p>-->
        <!--<p>24-27&#160;мая</p>-->
      <!--</div>-->
    <!--</article>-->

    <!--<article style="background-color: transparent;">-->
      <!--<a href="#" class="image featured"><img src="/images/pic02.jpg" /></a>-->
      <!--<br />-->
      <!--<header><h3>г.Брест<br />г.Заславль</h3>-->
      <!--</header>-->
      <!--<div class="text-reading">-->
        <!--<p>Республиканская универсиада </p>-->
        <!--<p>30 мая-2 июня</p>-->
      <!--</div>-->
    <!--</article>-->

    <!--<article style="background-color: transparent;">-->
      <!--<a href="#" class="image featured"><img src="/images/pic02.jpg" /></a>-->
      <!--<br />-->
      <!--<header><h3>г.Белград<br />(Сербия)</h3>-->
      <!--</header>-->
      <!--<div class="text-reading">-->
        <!--<p>Чемпионат Европы среди юниоров и молодежи до 23 лет</p>-->
        <!--<p>19-26<br />июня</p>-->
      <!--</div>-->
    <!--</article>-->

    <!--<article style="background-color: transparent;">-->
      <!--<a href="#" class="image featured" style="margin-top: 20%"><img src="/images/pic05.jpg" /></a>-->
      <!--<br />-->
      <!--<header><h3>г.Гомель</h3>-->
      <!--</header>-->
      <!--<div class="text-reading">-->
        <!--<p>Спартакиада Республики Беларусь среди ДЮСШ, СДЮШОР, ЦОР</p>-->
        <!--<p>13-16 июня</p>-->
      <!--</div>-->
    <!--</article>-->
  </section>
</section>




<header>
  <h2 class="Honhomege">Результаты соревнований</h2>
</header>
<section class="carousel">
  <section style="background-color:transparent" class="carousel gallery">
    <div style="background-color: transparent;" class="reel wrapper gallery">
      <article style="background-color: transparent; padding: 0; margin: 0;">
        <p><a href="/system/resources/W1siZiIsIjIwMTcvMDIvMDkvOW05bHViYWdhMl9fLmZsdiJdXQ/%D0%9F%D0%B0%D1%80%D0%BA%D0%BE%D0%B2%D0%BA%D0%B0.flv?sha=266e1bd73f235cd9" title="Парковка">j,k,.mbz./,.bzk.,m,b.z</a>
          <a href="/system/resources/W1siZiIsIjIwMTcvMDIvMDkvOW05bHViYWdhMl9fLmZsdiJdXQ/%D0%9F%D0%B0%D1%80%D0%BA%D0%BE%D0%B2%D0%BA%D0%B0.flv?sha=266e1bd73f235cd9" title="Парковка"></a>
        </p>
        <div class="blok8 gallery">
          <a href="/images/Результаты соревнований/1.png" class="image featured photo">
            <img src="/images/Результаты соревнований/1.png" />
          </a>
        </div>
      </article>
      <article style="background-color: transparent; padding: 0; margin: 0;">
        <div class="blok8 gallery">
          <a href="/images/Результаты соревнований/2.png" class="image featured photo">
            <img src="/images/Результаты соревнований/2.png" />
          </a>
        </div>
      </article>
      <article style="background-color: transparent; padding: 0; margin: 0;">
        <div class="blok8">
          <a href="/images/Результаты соревнований/3.png" class="image featured photo">
            <img src="/images/Результаты соревнований/3.png" />
          </a>
        </div>
      </article>
      <article style="background-color: transparent; padding: 0; margin: 0;">
        <div class="blok8">
          <a href="/images/Результаты соревнований/4.png" class="image featured photo">
            <img src="/images/Результаты соревнований/4.png" />
          </a>
        </div>
      </article>
      <article style="background-color: transparent; padding: 0; margin: 0;">
        <div class="blok8">
          <a href="/images/Результаты соревнований/1.png" class="image featured photo">
            <img src="/images/Результаты соревнований/1.png" />
          </a>
        </div>
      </article>
      <article style="background-color: transparent; padding: 0; margin: 0;">
        <div class="blok8">
          <a href="/images/Результаты соревнований/1.png" class="image featured photo">
            <img src="/images/Результаты соревнований/1.png" />
          </a>
        </div>
      </article>
      <article style="background-color: transparent; padding: 0; margin: 0;">
        <div class="blok8">
          <a href="/images/Результаты соревнований/1.png" class="image featured photo">
            <img src="/images/Результаты соревнований/1.png" />
          </a>
        </div>
      </article>
    </div>
  </section>
</section>

<section id="features" class="infer">
  <a href="/history" class="image featured"><img src="/images/header1.jpg" /></a>
  <header>
    <h2 class="Honhomege"><a href="/history">История развития</a>
    </h2>

  </header>
  <div class="text-reading">
    <p> История возникновения гребного канала началась одновременно со строительством «Вилейско-Минской водной
      системы».<br />
      По инициативе Мингорисполкома часть водной системы в районе Заславля была выложена в виде прямого отрезка
      воды длиной более двух километров и шириной сто метров и соединялся с Заславским водохранилищем в районе
      пансионата «Юность» и деревни Гонолес.<br />
      Однако в жаркий период лета происходил большой расход воды в водохранилище и соответственно падал уровень
      воды, что естественно сказывалось и на уровне воды в гребном канале. Подобная ситуация исключала возможность
      проведения учебно-тренировочного процесса и соревнований на канале.<br />
      Одним из существенных недостатков канала, который находился на балансе «Минскводоканала» являлось наличие
      слабого течения воды в сторону Заславского водохранилища...<br />
    </p>
  </div>
  <a href="/history" class="button">Подробнее</a>
</section>





<section class="carousel">
  <section style="background-color:transparent" class="carousel gallery">
    <div style="background-color: transparent;" class="reel wrapper gallery">
      <article style="background-color: transparent; padding: 0; margin: 0;">
        <p><a href="/system/resources/W1siZiIsIjIwMTcvMDIvMDkvOW05bHViYWdhMl9fLmZsdiJdXQ/%D0%9F%D0%B0%D1%80%D0%BA%D0%BE%D0%B2%D0%BA%D0%B0.flv?sha=266e1bd73f235cd9" title="Парковка">j,k,.mbz./,.bzk.,m,b.z</a>
          <a href="/system/resources/W1siZiIsIjIwMTcvMDIvMDkvOW05bHViYWdhMl9fLmZsdiJdXQ/%D0%9F%D0%B0%D1%80%D0%BA%D0%BE%D0%B2%D0%BA%D0%B0.flv?sha=266e1bd73f235cd9" title="Парковка"></a>
        </p>
        <div class="blok8 gallery">
          <a href="/images/Результаты соревнований/1.png" class="image featured photo">
            <img src="/images/Результаты соревнований/1.png" />
          </a>
        </div>
      </article>
      <article style="background-color: transparent; padding: 0; margin: 0;">
        <div class="blok8 gallery">
          <a href="/images/Результаты соревнований/2.png" class="image featured photo">
            <img src="/images/Результаты соревнований/2.png" />
          </a>
        </div>
      </article>
      <article style="background-color: transparent; padding: 0; margin: 0;">
        <div class="blok8">
          <a href="/images/Результаты соревнований/3.png" class="image featured photo">
            <img src="/images/Результаты соревнований/3.png" />
          </a>
        </div>
      </article>
      <article style="background-color: transparent; padding: 0; margin: 0;">
        <div class="blok8">
          <a href="/images/Результаты соревнований/4.png" class="image featured photo">
            <img src="/images/Результаты соревнований/4.png" />
          </a>
        </div>
      </article>
      <article style="background-color: transparent; padding: 0; margin: 0;">
        <div class="blok8">
          <a href="/images/Результаты соревнований/1.png" class="image featured photo">
            <img src="/images/Результаты соревнований/1.png" />
          </a>
        </div>
      </article>
      <article style="background-color: transparent; padding: 0; margin: 0;">
        <div class="blok8">
          <a href="/images/Результаты соревнований/1.png" class="image featured photo">
            <img src="/images/Результаты соревнований/1.png" />
          </a>
        </div>
      </article>
      <article style="background-color: transparent; padding: 0; margin: 0;">
        <div class="blok8">
          <a href="/images/Результаты соревнований/1.png" class="image featured photo">
            <img src="/images/Результаты соревнований/1.png" />
          </a>
        </div>
      </article>
    </div>
  </section>
</section>









































<h1 style="padding-top: 1%; text-align:center" class="leadership">Национальная команда (основной состав) – байдарка (мужчины)</h1>

<div class="popup-wrapper">
  <input type="checkbox" class="popup-checkbox" id="popupCheckboxOne" />
  <div class="popup">
    <div class="popup-content">
      <label for="popupCheckboxOne" class="popup-closer">×</label>
      <div class="modalwindowinside">
        <img class="modalwindowinsideimg" src="/images/байдарка/Петрушенко.jpg" />
      </div>
      <p>Заслуженный мастер спорта</p>
    </div>
  </div>
</div>
<div class="popup-wrapper">
  <input type="checkbox" class="popup-checkbox" id="popupCheckbox2" />
  <div class="popup">
    <div class="popup-content">
      <label for="popupCheckbox2" class="popup-closer">×</label>
      <div class="modalwindowinsideall">
        <div class="modalwindowinside">
          <img class="modalwindowinsideimg" src="/images/байдарка/Белько Виталий.jpg" />
        </div>
        <div class="modalwindowinsidetext"><p>Белорусский государственный университет физической культуры и Академия управления при президенте Республики Беларусь</p></div>
        <div class="modalwindowinsidetext1"><p>Курирует вопросы отделов: </p></div>
        <div class="modalwindowinsidetext"><p>Белорусский государственный университет физической культуры и Академия управления при президенте Республики Беларусь</p></div>
        <div class="modalwindowinsidetext1"><p>Курирует вопросы отделов: </p></div>
        <div class="modalwindowinsidetext"><p>Белорусский государственный университет физической культуры и Академия управления при президенте Республики Беларусь</p></div>
        <div class="modalwindowinsidetext1"><p>Курирует вопросы отделов: </p></div><div class="modalwindowinsidetext"><p>Белорусский государственный университет физической культуры и Академия управления при президенте Республики Беларусь</p></div>
        <div class="modalwindowinsidetext1"><p>Курирует вопросы отделов: </p></div>

      </div>
    </div>
  </div>
</div>
<div class="popup-wrapper">
  <input type="checkbox" class="popup-checkbox" id="popupCheckbox3" />
  <div class="popup">
    <div class="popup-content">
      <label for="popupCheckbox3" class="popup-closer">×</label>
      <div class="modalwindowinside">
        <img class="modalwindowinsideimg" src="/images/байдарка/Юреня Олег.JPG" />
      </div>
      <div class="modalwindowinsidetext">Белорусская государственная сельскохозяйственная академия</div>

    </div>
  </div>
</div>
<div class="popup-wrapper">
  <input type="checkbox" class="popup-checkbox" id="popupCheckbox4" />
  <div class="popup">
    <div class="popup-content">
      <label for="popupCheckbox4" class="popup-closer">×</label>
      <div class="modalwindowinside">
        <img class="modalwindowinsideimg" src="/images/байдарка/медведев ПАВЕЛ.jpg" />
      </div>
      <div class="modalwindowinsidetext">Могилевский строительный колледж – бухгалтерский учет, анализ и аудит –
        бухгалтер
        Белорусская государственная сельскохозяйственная академия – бух учет, анализ, аудит – экономист
        <br />Возглавляет
      </div>
    </div>
  </div>
</div>
<div class="popup-wrapper">
  <input type="checkbox" class="popup-checkbox" id="popupCheckbox5" />
  <div class="popup">
    <div class="popup-content">
      <label for="popupCheckbox5" class="popup-closer">×</label>
      <div class="modalwindowinside">
        <img class="modalwindowinsideimg" src="/images/байдарка/Махнев.jpg" />
      </div>
      <div class="modalwindowinsidetext">Минский заочный политехникум
        Бел ордена трудового красного знамени политехнический институт
      </div>
    </div>
  </div>
</div>
<div class="popup-wrapper">
  <input type="checkbox" class="popup-checkbox" id="popupCheckbox6" />
  <div class="popup">
    <div class="popup-content">
      <label for="popupCheckbox6" class="popup-closer">×</label>
      <div class="modalwindowinside">
        <img class="modalwindowinsideimg" src="/images/байдарка/Валько Тарас.jpg" />
      </div>
      <div class="modalwindowinsidetext"></div>
    </div>
  </div>
</div>
<div class="popup-wrapper">
  <input type="checkbox" class="popup-checkbox" id="popupCheckbox7" />
  <div class="popup">
    <div class="popup-content">
      <label for="popupCheckbox7" class="popup-closer">×</label>
      <div class="modalwindowinside">
        <img class="modalwindowinsideimg" src="/images/байдарка/Бойчевский.jpg" />
      </div>
      <div class="modalwindowinsidetext">УО Новопольский государственный аграрно-экономический колледж
        минсельхозпрода
      </div>
    </div>
  </div>
</div>
<div class="popup-wrapper">
  <input type="checkbox" class="popup-checkbox" id="popupCheckbox8" />
  <div class="popup">
    <div class="popup-content">
      <label for="popupCheckbox8" class="popup-closer">×</label>
      <div class="modalwindowinside">
        <img class="modalwindowinsideimg" src="/images/байдарка/БОРИКОВ НИКИТА.jpg" />
      </div>
      <div class="modalwindowinsidetext">УО Новопольский государственный аграрно-экономический колледж
        минсельхозпрода
      </div>
    </div>
  </div>
</div>
<div class="popup-wrapper">
  <input type="checkbox" class="popup-checkbox" id="popupCheckbox9" />
  <div class="popup">
    <div class="popup-content">
      <label for="popupCheckbox9" class="popup-closer">×</label>
      <div class="modalwindowinside">
        <img class="modalwindowinsideimg" src="/images/байдарка/третьяков 2.jpg" />
      </div>
      <div class="modalwindowinsidetext">УО Новопольский государственный аграрно-экономический колледж
        минсельхозпрода
      </div>
    </div>
  </div>
</div>
<div class="popup-wrapper">
  <input type="checkbox" class="popup-checkbox" id="popupCheckbox10" />
  <div class="popup">
    <div class="popup-content">
      <label for="popupCheckbox10" class="popup-closer">×</label>
      <div class="modalwindowinside">
        <img class="modalwindowinsideimg" src="/images/байдарка/ДАЙНЕКО СТАНИСЛАВ.png" />
      </div>
      <div class="modalwindowinsidetext">УО Новопольский государственный аграрно-экономический колледж
        минсельхозпрода
      </div>
    </div>
  </div>
</div>
<div class="popup-wrapper">
  <input type="checkbox" class="popup-checkbox" id="popupCheckbox11" />
  <div class="popup">
    <div class="popup-content">
      <label for="popupCheckbox11" class="popup-closer">×</label>
      <div class="modalwindowinside">
        <img class="modalwindowinsideimg" src="/images/байдарка/Царикович.JPG" />
      </div>
      <div class="modalwindowinsidetext">УО Новопольский государственный аграрно-экономический колледж
        минсельхозпрода
      </div>
    </div>
  </div>
</div>
<div class="popup-wrapper">
  <input type="checkbox" class="popup-checkbox" id="popupCheckbox12" />
  <div class="popup">
    <div class="popup-content">
      <label for="popupCheckbox12" class="popup-closer">×</label>
      <div class="modalwindowinside">
        <img class="modalwindowinsideimg" src="/images/байдарка/Мисюченко.png" />
      </div>
      <div class="modalwindowinsidetext">УО Новопольский государственный аграрно-экономический колледж
        минсельхозпрода
      </div>
    </div>
  </div>
</div>
<div class="popup-wrapper">
  <input type="checkbox" class="popup-checkbox" id="popupCheckbox13" />
  <div class="popup">
    <div class="popup-content">
      <label for="popupCheckbox13" class="popup-closer">×</label>
      <div class="modalwindowinside">
        <img class="modalwindowinsideimg" src="/images/байдарка/Зайцев.png" />
      </div>
      <div class="modalwindowinsidetext">УО Новопольский государственный аграрно-экономический колледж
        минсельхозпрода
      </div>
    </div>
  </div>
</div>
<div class="popup-wrapper">
  <input type="checkbox" class="popup-checkbox" id="popupCheckbox14" />
  <div class="popup">
    <div class="popup-content">
      <label for="popupCheckbox14" class="popup-closer">×</label>
      <div class="modalwindowinside">
        <img class="modalwindowinsideimg" src="/images/байдарка/Аникин.png" />
      </div>
      <div class="modalwindowinsidetext">УО Новопольский государственный аграрно-экономический колледж
        минсельхозпрода
      </div>
    </div>
  </div>
</div>
<div class="popup-wrapper">
  <input type="checkbox" class="popup-checkbox" id="popupCheckbox15" />
  <div class="popup">
    <div class="popup-content">
      <label for="popupCheckbox15" class="popup-closer">×</label>
      <div class="modalwindowinside">
        <img class="modalwindowinsideimg" src="/images/байдарка/Никитин Кирилл.JPG" />
      </div>
      <div class="modalwindowinsidetext">УО Новопольский государственный аграрно-экономический колледж
        минсельхозпрода
      </div>
    </div>
  </div>
</div>

<div class="leadershipB">
  <div class="leadershipBcont">
    <label for="popupCheckboxOne" class="popup-shower leadershipBlable">
      <img class="leadershipBlableimg" src="/images/байдарка/Петрушенко.jpg" /></label>
    <label for="popupCheckboxOne" class="popup-shower leadershipBlable">
      <p class="leadershipBp">Петрушенко Роман Иванович</p>
    </label>
  </div>

  <div class="leadershipBcont">
    <label for="popupCheckbox2" class="popup-shower leadershipBlable">
      <img class="leadershipBlableimg" src="/images/байдарка/Белько Виталий.jpg" /></label>
    <label for="popupCheckbox2" class="popup-shower leadershipBlable">
      <p class="leadershipBp">Белько Виталий Леонардович</p>
    </label>
  </div>

  <div class="leadershipBcont">
    <label for="popupCheckbox3" class="popup-shower leadershipBlable">
      <img class="leadershipBlableimg" src="/images/байдарка/Юреня Олег.JPG" /></label>
    <label for="popupCheckbox3" class="popup-shower leadershipBlable">
      <p class="leadershipBp">Юреня Олег Олегович</p>
    </label>

  </div>
</div>
<div class="leadershipB">
  <div class="leadershipBcont">

    <label for="popupCheckbox4" class="popup-shower leadershipBlable">
      <img class="leadershipBlableimg" src="/images/байдарка/медведев ПАВЕЛ.jpg" /></label>
    <label for="popupCheckbox4" class="popup-shower leadershipBlable">
      <p class="leadershipBp">Медведев Павел Юрьевич</p>
    </label>
  </div>
  <div class="leadershipBcont">
    <label for="popupCheckbox5" class="popup-shower leadershipBlable">
      <img class="leadershipBlableimg" src="/images/байдарка/Махнев.jpg" /></label>
    <label for="popupCheckbox5" class="popup-shower leadershipBlable">
      <p class="leadershipBp">Махнев Вадим Геннадьевич</p></label>
  </div>
  <div class="leadershipBcont">
    <label for="popupCheckbox6" class="popup-shower leadershipBlable">
      <img class="leadershipBlableimg" src="/images/байдарка/Валько Тарас.jpg" /></label>
    <label for="popupCheckbox6" class="popup-shower leadershipBlable">
      <p class="leadershipBp">Валько Тарас Николаевич</p>
    </label>
  </div>
</div>

<div class="leadershipB">
  <div class="leadershipBcont">

    <label for="popupCheckbox7" class="popup-shower leadershipBlable">
      <img class="leadershipBlableimg" src="/images/байдарка/Бойчевский.jpg" /></label>

    <label for="popupCheckbox7" class="popup-shower leadershipBlable">
      <p class="leadershipBp">Бойчевский Игорь Александрович</p>
    </label>
  </div>
  <div class="leadershipBcont">

    <label for="popupCheckbox8" class="popup-shower leadershipBlable">
      <img class="leadershipBlableimg" src="/images/байдарка/БОРИКОВ НИКИТА.jpg" /></label>

    <label for="popupCheckbox8" class="popup-shower leadershipBlable">
      <p class="leadershipBp">Бориков Никита Александрович</p>
    </label>
  </div>
  <div class="leadershipBcont">

    <label for="popupCheckbox9" class="popup-shower leadershipBlable">
      <img class="leadershipBlableimg" src="/images/байдарка/третьяков 2.jpg" /></label>

    <label for="popupCheckbox9" class="popup-shower leadershipBlable">
      <p class="leadershipBp">Третьяков Дмитрий Николаевич</p>
    </label>
  </div>
</div>

<div class="leadershipB">
  <div class="leadershipBcont">

    <label for="popupCheckbox10" class="popup-shower leadershipBlable">
      <img class="leadershipBlableimg" src="/images/байдарка/ДАЙНЕКО СТАНИСЛАВ.png" /></label>

    <label for="popupCheckbox10" class="popup-shower leadershipBlable">
      <p class="leadershipBp">Дайнеко Станислав Владиславович</p>
    </label>
  </div>
  <div class="leadershipBcont">

    <label for="popupCheckbox11" class="popup-shower leadershipBlable">
      <img class="leadershipBlableimg" src="/images/байдарка/Царикович.JPG" /></label>

    <label for="popupCheckbox11" class="popup-shower leadershipBlable">
      <p class="leadershipBp">Царикович Андрей Сергеевич</p>
    </label>
  </div>
  <div class="leadershipBcont">

    <label for="popupCheckbox12" class="popup-shower leadershipBlable">
      <img class="leadershipBlableimg" src="/images/байдарка/Мисюченко.png" /></label>

    <label for="popupCheckbox12" class="popup-shower leadershipBlable">
      <p class="leadershipBp">Мисюченко Алексей Михайлович</p>
    </label>
  </div>
</div>
<div class="leadershipB">
  <div class="leadershipBcont">

    <label for="popupCheckbox13" class="popup-shower leadershipBlable">
      <img class="leadershipBlableimg" src="/images/байдарка/Зайцев.png" /></label>

    <label for="popupCheckbox13" class="popup-shower leadershipBlable">
      <p class="leadershipBp">Зайцев Максим Олегович</p>
    </label>
  </div>
  <div class="leadershipBcont">

    <label for="popupCheckbox14" class="popup-shower leadershipBlable">
      <img class="leadershipBlableimg" src="/images/байдарка/Аникин.png" /></label>

    <label for="popupCheckbox14" class="popup-shower leadershipBlable">
      <p class="leadershipBp">Аникин Георгий Юрьевич</p>
    </label>
  </div>
  <div class="leadershipBcont">

    <label for="popupCheckbox15" class="popup-shower leadershipBlable">
      <img class="leadershipBlableimg" src="/images/байдарка/Никитин Кирилл.JPG" /></label>

    <label for="popupCheckbox15" class="popup-shower leadershipBlable">
      <p class="leadershipBp">Никитин Кирилл Владимирович</p>
    </label>
  </div>
</div>

