<header>
  <h2 style="text-align: center; padding-top: 1%">
    <a href="/%D0%B4%D0%BE%D0%BC%D0%B0%D1%88%D0%BD%D1%8F%D1%8F/%D0%BD%D0%BE%D0%B2%D0%BE%D1%81%D1%82%D0%B8">Новости</a>
  </h2>
</header>

<div id="ca-container" class="ca-container">

  <div class="ca-wrapper">
    <div class="ca-item ca-item-1">
      <div class="ca-item-main">
        <div class="ca-icon">
          <a style="width: 100%" rel="alternate" class="photo leadershipBlable" href="/images/News/Мельников.jpg"><img src="/images/News/Мельников.jpg" width="100%"/></a>
        </div>
        <h3>14 МАРТА 2017</h3>
        <h4>
          <span class="ca-quote">“</span>
          <span>Поздравляем с Днем рождения МЕЛЬНИКОВА АРТЕМА!!!</span>
        </h4>
        <p><a href="#" class="ca-more">побробнее...</a>
        </p>
      </div>
      <div class="ca-content-wrapper">
        <div class="ca-content">
          <h6>Поздравляем!!!</h6>
          <a href="#" class="ca-close">close</a>
          <div class="ca-content-text">
            <p>Поздравляем с Днем рождения МЕЛЬНИКОВА АРТЕМА -мастера спорта международного класса, члена национальной
              команды Республики Беларусь по гребле академической!!! Желаем крепкого здоровья, успеха, энергии, сил,
              терпения, упорства, радости, уверенности в себе!!!!!</p>

          </div>
          <ul>
            <li><a href="#">Read more</a>
            </li>
          </ul>
        </div>
      </div>
    </div>
    <div class="ca-item ca-item-1">
      <div class="ca-item-main">
        <div class="ca-icon">
          <iframe src="https://www.facebook.com/plugins/video.php?href=https%3A%2F%2Fwww.facebook.com%2Fzaslavlrowingcanal%2Fvideos%2F1807363302916997%2F&amp;show_text=0&amp;width=560" width="100%" height="auto" style="border:none;overflow:hidden" scrolling="no" frameborder="0" allowfullscreen="true"></iframe>
        </div>
        <h3>7 марта 2017</h3>
        <h4>
          <span class="ca-quote">“</span>
          <span>Поздравление с Международным женским днём от мужской части коллектива РЦОП по гребным видам спорта!</span>
        </h4>
        <p><a href="#" class="ca-more">побробнее...</a>
        </p>
      </div>
      <div class="ca-content-wrapper">
        <div class="ca-content">
          <h6>Поздравляем!!!</h6>
          <a href="#" class="ca-close">close</a>
          <div class="ca-content-text">
            <p>Поздравляем с Международным женским днём от мужской части коллектива РЦОП по гребным видам спорта!</p>

          </div>
          <ul>
            <li><a href="#">Read more</a>
            </li>
          </ul>
        </div>
      </div>
    </div>

    <div class="ca-item ca-item-1">
      <div class="ca-item-main">
        <div class="ca-icon">
          <a style="width: 100%" rel="alternate" class="photo leadershipBlable" href="/images/News/Щербаченя.jpg"><img src="/images/News/Щербаченя.jpg" width="100%"/></a>
        </div>
        <h3>5 марта 2017</h3>
        <h4>
          <span class="ca-quote">“</span>
          <span>Поздравляем с Днем Рождения,&#160;ЩЕРБАЧЕНЯ СТАНИСТАВА ГРИГОРЬЕВИЧА!</span>
        </h4>
        <p><a href="#" class="ca-more">побробнее...</a>
        </p>
      </div>
      <div class="ca-content-wrapper">
        <div class="ca-content">
          <h6>Поздравляем!!!</h6>
          <a href="#" class="ca-close">close</a>
          <div class="ca-content-text">
            <p>5 марта отмечает День рождения член национальной команды Республики Беларусь по гребле академической,
              мастер спорта международного класса ЩЕРБАЧЕНЯ СТАНИСТАВ ГРИГОРЬЕВИЧ! Желаем здоровья, счастья,
              благополучия, исполнения всех желаний, везения во всём и всегда и чтобы каждое начатое дело заканчивалось
              успешно!</p>
          </div>
          <ul>
            <li><a href="#">Read more</a>
            </li>
          </ul>
        </div>
      </div>
    </div>
    <div class="ca-item ca-item-1">
      <div class="ca-item-main">
        <div class="ca-icon">
          <a style="width: 70%; margin-left: 15%;" rel="alternate" class="photo leadershipBlable" href="/images/News/Варвич.jpg"><img src="/images/News/Варвич.jpg" width="100%"/></a>
        </div>
        <h3>5 марта 2017</h3>
        <h4>
          <span class="ca-quote">“</span>
          <span>Поздравляем с Днем Рождения,&#160;ЩЕРБАЧЕНЯ СТАНИСТАВА ГРИГОРЬЕВИЧА!</span>
        </h4>
        <p><a href="#" class="ca-more">побробнее...</a>
        </p>
      </div>
      <div class="ca-content-wrapper">
        <div class="ca-content">
          <h6>Поздравляем!!!</h6>
          <a href="#" class="ca-close">close</a>
          <div class="ca-content-text">
            <p>Поздравляем с Днем рождения ВЫРВИЧА ВАЛЕРИЯ АЛЕКСАНДРОВИЧА - старшего тренера национальной команды
              Республики Беларусь по гребле академической!Желаем крепкого здоровья и безразмерного счастья, удачи, ярких
              эмоций и блестящих успехов!!!</p>
          </div>
          <ul>
            <li><a href="#">Read more</a>
            </li>
          </ul>
        </div>
      </div>
    </div>
    <div class="ca-item ca-item-1">
      <div class="ca-item-main">
        <div class="ca-icon">
          <a style="width: 70%; margin-left: 15%;" rel="alternate" class="photo leadershipBlable" href="/images/News/Рыбалка зимняя 2017/1.jpg"><img src="/images/News/Рыбалка зимняя 2017/1.jpg" width="100%" /></a>
        </div>
        <h3>4 марта 2017</h3>
        <h4>
          <span class="ca-quote">“</span>
          <span>Соревнования по рыбной ловле среди работников Республиканского центра олимпийской подготовки по гребным видам спорта</span>
        </h4>
        <p><a href="#" class="ca-more">побробнее...</a>
        </p>
      </div>
      <div class="ca-content-wrapper">
        <div class="ca-content">
          <h6>Соревнования!!!</h6>
          <a href="#" class="ca-close">close</a>
          <div class="ca-content-text">
            <p>В субботу прошли cоревнования по рыбной ловле среди работников Республиканского центра олимпийской подготовки по гребным видам спорта</p>
          </div>
          <ul>
            <li><a href="#">Read more</a>
            </li>
          </ul>
        </div>
      </div>
    </div>


  </div>
</div>


<section class="carousel">
  <section style="background-color: transparent; padding: 0%; margin:0%;" class="reel wrapper">

    <article style="background-color: transparent; width: 40%">
      <div style="width: 100%" class="leadershipBcont gallery">
        <a rel="alternate" class="photo leadershipBlable" href="/images/News/Щербаченя.jpg"><img src="/images/News/Щербаченя.jpg" width="100%"/></a>
        <p style="text-align: justify;" class="text-reading">Сегодня отмечает День рождения член национальной команды
          Республики Беларусь по гребле
          академической, мастер спорта международного класса ЩЕРБАЧЕНЯ СТАНИСТАВ ГРИГОРЬЕВИЧ! Желаем здоровья,
          счастья, благополучия, исполнения всех желаний, везения во всём и всегда и чтобы каждое начатое дело
          заканчивалось успешно!</p>
      </div>
    </article>
    <article style="background-color: transparent; width: 40%">
      <div style="width: 100%" class="leadershipBcont gallery">
        <a rel="alternate" class="photo leadershipBlable" href="/images/News/Варвич.jpg"><img src="/images/News/Варвич.jpg" width="100%"/></a>
        <p style="font-size: 14px;" class="leadershipBp">Поздравляем с Днем рождения ВЫРВИЧА ВАЛЕРИЯ АЛЕКСАНДРОВИЧА -
          старшего тренера национальной команды Республики Беларусь по гребле академической!Желаем крепкого здоровья и
          безразмерного счастья, удачи, ярких эмоций и блестящих успехов!!!
        </p>
      </div>
    </article>
    <article style="background-color: transparent; width: 40%">
      <div style="width: 100%" class="leadershipBcont gallery">
        <a rel="alternate" class="photo leadershipBlable" href="/images/News/Рыбалка зимняя 2017/1.jpg"><img src="/images/News/Рыбалка зимняя 2017/1.jpg" width="100%"/></a>
        <p><span class="text-align-left">Соревнования по рыбной ловле среди работников Республиканского центра олимпийской подготовки по гребным видам спорта
          </span>
        </p>
        <a href="/ru/home/74/%D1%81%D0%BE%D1%80%D0%B5%D0%B2%D0%BD%D0%BE%D0%B2%D0%B0%D0%BD%D0%B8%D1%8F-%D0%BF%D0%BE-%D1%80%D1%8B%D0%B1%D0%BD%D0%BE%D0%B9-%D0%BB%D0%BE%D0%B2%D0%BB%D0%B5-%D1%81%D1%80%D0%B5%D0%B4%D0%B8-%D1%80%D0%B0%D0%B1%D0%BE%D1%82%D0%BD%D0%B8%D0%BA%D0%BE%D0%B2" title="Соревнования по рыбной ловле среди работников">Подробнее</a>
      </div>
    </article>
    <article style="background-color: transparent; width: 40%">
      <div style="width: 100%" class="leadershipBcont gallery">
        <a rel="alternate" class="photo leadershipBlable" href="/images/News/Рыбалка зимняя 2017/1.jpg"><img src="/images/News/Рыбалка зимняя 2017/1.jpg" width="100%"/></a>
        <p>Соревнования по рыбной ловле среди работников Республиканского центра олимпийской подготовки по гребным
          видам спорта
        </p>
        Подробнее
      </div>
    </article>
    <article style="background-color: transparent; width: 40%">
      <div style="width: 100%" class="leadershipBcont gallery">
        <a rel="alternate" class="photo leadershipBlable" href="/images/News/Рыбалка зимняя 2017/1.jpg"><img src="/images/News/Рыбалка зимняя 2017/1.jpg" width="100%"/></a>
        <p>Соревнования по рыбной ловле среди работников Республиканского центра олимпийской подготовки по гребным
          видам спорта
        </p>
        Подробнее
      </div>
    </article>
    <article style="background-color: transparent; width: 40%">
      <div style="width: 100%" class="leadershipBcont gallery">
        <a rel="alternate" class="photo leadershipBlable" href="/images/News/Рыбалка зимняя 2017/1.jpg"><img src="/images/News/Рыбалка зимняя 2017/1.jpg" width="100%"/></a>
        <p style="font-size: 14px;" class="leadershipBp">Соревнования по рыбной ловле среди работников
          Республиканского центра олимпийской подготовки по гребным видам спорта
        </p>
        Подробнее
      </div>
    </article>


  </section>
</section>
<header>
  <h2 style="text-align: center">Календарь соревнований</h2>
</header>
<section class="carousel">
  <section style="background-color: transparent;" class="reel wrapper">

    <article style="background-color: transparent;">
      <a href="#" class="image featured"><img src="/images/town/grodno-city-panorama.jpg"/></a>
      <br/>
      <header>
        <h3>г. Гродно</h3>
      </header>
      <div class="text-reading">
        <p>Республиканские соревнования по ОФП памяти Н.Г.Юревича среди учащихся отделений по гребле на байдарках и
          каноэ специализированных учебно-спортивных учреждений
          (юниоры, юниорки 1999-2000 гг.;
          юноши, девушки 2001-2002 гг. рождения)</p>
        <p>25-27 января</p>
      </div>
    </article>

    <article style="background-color: transparent;">
      <a href="#" class="image featured"><img src="/images/town/463_11.jpg"/></a>
      <br/>
      <header>
        <h3>г.Брест</h3>
      </header>
      <div class="text-reading">
        <p>Республиканские соревнования памяти защитников Брестской крепости <br/>(юниоры, юниорки 1999-2001 гг.
          рождения)</p>
        <p>26-29<br/>апреля</p>
      </div>
    </article>

    <article style="background-color: transparent;">
      <a href="#" class="image featured"><img src="/images/town/463_11.jpg"/></a>
      <br/>
      <header><h3>г.Брест</h3>
      </header>
      <div class="text-reading">
        <p>Кубок Республики Беларусь, 1-я часть (мужчины, женщины) </p>
        <p>26-29<br/>апреля</p>
      </div>
    </article>

    <article style="background-color: transparent;">
      <a href="#" class="image featured"><img src="/images/town/порт.jpg"/></a>
      <br/>
      <header><h3>г.Монтемор-у-Велью<br/>(Португалия)</h3>
      </header>
      <div class="text-reading">
        <p>Кубок мира – 1-й этап<br/>(мужчины, женщины)</p>
        <p>8-15<br/>мая</p>
      </div>
    </article>

    <article style="background-color: transparent;">
      <a href="#" class="image featured"><img src="/images/town/Seged_2.JPG"/></a>
      <br/>
      <header><h3>г.Сегед<br/>(Венгрия)</h3>
      </header>
      <div class="text-reading">
        <p>Кубок мира – 2-й этап <br/>(мужчины, женщины)</p>
        <p>15-22<br/>мая</p>
      </div>
    </article>

    <article style="background-color: transparent;">
      <a href="#" class="image featured"><img src="/images/pic02.jpg"/></a>
      <br/>
      <header><h3>г.Белград<br/>(Сербия)</h3>
      </header>
      <div>
        <p class="text-reading">Кубок мира – 3-й этап <br/>(мужчины, женщины)</p>
        <p>22-29<br/>мая</p>
      </div>
    </article>

    <article style="background-color: transparent;">
      <a href="#" class="image featured"><img src="/images/pic02.jpg"/></a>
      <br/>
      <header><h3>г.Заславль<br/>г.Брест</h3>
      </header>
      <div class="text-reading">
        <p>Первенство Республики Беларусь <br/>(юниоры, юниорки 1999-2000 гг.;<br/>молодежь до 23 лет, 1994-1998 гг.
          рождения)</p>
        <p>24-27<br/>мая</p>
      </div>
    </article>

    <article style="background-color: transparent;">
      <a href="#" class="image featured"><img src="/images/pic02.jpg"/></a>
      <br/>
      <header><h3>г.Брест<br/>г.Заславль</h3>
      </header>
      <div class="text-reading">
        <p>Республиканская универсиада <br/>(студенты)</p>
        <p>30 мая-<br/>2 июня</p>
      </div>
    </article>

    <article style="background-color: transparent;">
      <a href="#" class="image featured"><img src="/images/pic02.jpg"/></a>
      <br/>
      <header><h3>г.Белград<br/>(Сербия)</h3>
      </header>
      <div class="text-reading">
        <p>Чемпионат Европы среди юниоров и молодежи до 23 лет <br/>(юниоры, юниорки 1999-2000 гг.;<br/>молодежь до 23
          лет 1994-1998 гг. рождения)</p>
        <p>19-26<br/>июня</p>
      </div>
    </article>

    <article style="background-color: transparent;">
      <a href="#" class="image featured" style="margin-top: 20%"><img src="/images/pic05.jpg"/></a>
      <br/>
      <header><h3>г.Гомель</h3>
      </header>
      <div class="text-reading">
        <p>Спартакиада Республики Беларусь среди ДЮСШ, СДЮШОР, ЦОР<br/>(юноши, девушки 2001-2002 гг. рождения)</p>
        <p>13-16<br/>июня</p>
      </div>
    </article>
  </section>
</section>

<header>
  <h2 style="text-align: center">Результаты соревнований</h2>
</header>
<section class="carousel">
  <section style="background-color:transparent" class="carousel gallery">
    <div style="background-color: transparent;" class="reel wrapper gallery">
      <article style="background-color: transparent; padding: 0; margin: 0;">
        <div class="blok8 gallery">
          <a href="/images/Результаты соревнований/1.png" class="image featured photo">
            <img src="/images/Результаты соревнований/1.png"/>
          </a>
        </div>
      </article>
      <article style="background-color: transparent; padding: 0; margin: 0;">
        <div class="blok8 gallery">
          <a href="/images/Результаты соревнований/2.png" class="image featured photo">
            <img src="/images/Результаты соревнований/2.png"/>
          </a>
        </div>
      </article>
      <article style="background-color: transparent; padding: 0; margin: 0;">
        <div class="blok8">
          <a href="/images/Результаты соревнований/3.png" class="image featured photo">
            <img src="/images/Результаты соревнований/3.png"/>
          </a>
        </div>
      </article>
      <article style="background-color: transparent; padding: 0; margin: 0;">
        <div class="blok8">
          <a href="/images/Результаты соревнований/4.png" class="image featured photo">
            <img src="/images/Результаты соревнований/4.png"/>
          </a>
        </div>
      </article>
      <article style="background-color: transparent; padding: 0; margin: 0;">
        <div class="blok8">
          <a href="/images/Результаты соревнований/1.png" class="image featured photo">
            <img src="/images/Результаты соревнований/1.png"/>
          </a>
        </div>
      </article>
      <article style="background-color: transparent; padding: 0; margin: 0;">
        <div class="blok8">
          <a href="/images/Результаты соревнований/1.png" class="image featured photo">
            <img src="/images/Результаты соревнований/1.png"/>
          </a>
        </div>
      </article>
      <article style="background-color: transparent; padding: 0; margin: 0;">
        <div class="blok8">
          <a href="/images/Результаты соревнований/1.png" class="image featured photo">
            <img src="/images/Результаты соревнований/1.png"/>
          </a>
        </div>
      </article>
    </div>
  </section>
</section>


<section id="features" class="infer">
  <header><h2>
    <a href="/%D0%B4%D0%BE%D0%BC%D0%B0%D1%88%D0%BD%D1%8F%D1%8F/%D0%B2%D0%B8%D0%B4%D0%B5%D0%BE-%D0%B0%D1%80%D1%85%D0%B8%D0%B2">Видео
      архив</a>
  </h2>
  </header>

  <div class="row"><br/>
    <article class="4u 12u(mobile) special"><br/> <a href="#" class="image featured">
      <iframe src="https://www.facebook.com/plugins/video.php?href=https%3A%2F%2Fwww.facebook.com%2Fzaslavlrowingcanal%2Fvideos%2F1780962808890380%2F&amp;show_text=0&amp;width=400" width="100%" height="300" style="border:none;overflow:hidden" scrolling="no" frameborder="0" allowfullscreen="true"></iframe>
    </a>
      <br/>
      <header><br/>
        <h3>Арбитражный суд в Лозанне оправдал белорусских гребцов
        </h3>
      </header>

    </article>

    <article class="4u 12u(mobile) special"><br/> <a href="#" class="image featured">
      <iframe src="https://www.facebook.com/plugins/video.php?href=https%3A%2F%2Fwww.facebook.com%2Fzaslavlrowingcanal%2Fvideos%2F1721703468149648%2F&amp;show_text=0&amp;width=560" width="100%" height="300" style="border:none;overflow:hidden" scrolling="no" frameborder="0" allowfullscreen="true"></iframe>
    </a>
      <br/>
      <header><br/>
        <h3>Золото в исполнении Санько Н., Сухоносов В., Дайнеко С., Федор...
        </h3>
      </header>

    </article>

    <article class="4u 12u(mobile) special"><br/> <a href="#" class="image featured">
      <iframe src="https://www.facebook.com/plugins/video.php?href=https%3A%2F%2Fwww.facebook.com%2Fzaslavlrowingcanal%2Fvideos%2F1780963708890290%2F&amp;show_text=0&amp;width=400" width="100%" height="300" style="border:none;overflow:hidden" scrolling="no" frameborder="0" allowfullscreen="true"></iframe>
    </a>
      <br/>
      <header><br/>
        <h3>В НОК прошла пресс-конференция
        </h3>
      </header>

    </article>
  </div>
</section>


<section id="features" class="infer">
  <a href="/history" class="image featured"><img src="/images/header1.jpg"/></a>
  <header>
    <h2><a href="/history">История развития</a>
    </h2>

  </header>
  <div class="text-reading">
    <p> История возникновения гребного канала началась одновременно со строительством «Вилейско-Минской водной
      системы».<br/>
      По инициативе Мингорисполкома часть водной системы в районе Заславля была выложена в виде прямого отрезка
      воды длиной более двух километров и шириной сто метров и соединялся с Заславским водохранилищем в районе
      пансионата «Юность» и деревни Гонолес.<br/>
      Однако в жаркий период лета происходил большой расход воды в водохранилище и соответственно падал уровень
      воды, что естественно сказывалось и на уровне воды в гребном канале. Подобная ситуация исключала возможность
      проведения учебно-тренировочного процесса и соревнований на канале.<br/>
      Одним из существенных недостатков канала, который находился на балансе «Минскводоканала» являлось наличие
      слабого течения воды в сторону Заславского водохранилища...<br/>
    </p>
  </div>
  <footer>
    <a href="/history" class="button">Подробнее</a>
  </footer>
</section>

